{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs %}{% load i18n %}
{% block title %}Groups{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "groups:list" %}
{% endblock %}

{% block content %}

<div class="container" id="id-groups-list" >

    <!--<h2>Groups</h2>-->
<div class="row">
            <div class="col-sm-12">
                <a href="{% url 'groups:create' %}" class="btn btn-success"><em id="id-figure-plus"></em><span>Add Group</span></a>
            </div>
        </div>
    <div class="row" >
        {% for group in group_list %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4><a href="{% url 'groups:detail' group.slug %}">{{ group.name }}</a></h4>
                    <p><small class="text-muted">Last updated at: {{ group.modified }}</small></p>
                    <a class="btn btn-success" href="{% url 'groups:update' group.slug %}" >Edit</a>
                    {% if group.access == 'public' %}
                        {% if group.id in follower_list %}
                            <form style="display: inline" action="{% url 'groups:group_unfollow' group.slug %}" method="POST">
                                {% csrf_token %}
                                <button class="btn" type="submit">Unfollow</button>
                            </form>
                        {% else %}
                            <form style="display: inline" action="{% url 'groups:group_follow' group.slug %}" method="POST">
                                {% csrf_token %}
                                <button class="btn" type="submit">Follow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}


