{% extends "base.html" %}
{% load crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block title %}{% if theme %}Edit group: {{ group.name }}{% else %}Create new group{% endif %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "groups:list" %}
    {% breadcrumb group.name "groups:detail" group.slug %}
    {% breadcrumb "Update" "groups:update" %}
{% endblock %}

{% block content %}
    <h1>{% if theme %}Edit group: {{ group.name }}{% else %}New group{% endif %}</h1>
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}

        {% if themes %}
        <div class="form-group">
            <label for="theme_moderator">Theme</label>
            <select class="form-control" name="group_theme" multiple="multiple">
                {% for theme in themes %}
                    <option value="{{ theme.id }}" {% if theme.id in selected_themes %}selected{% endif %}>{{ theme.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Save</button>
          </div>
        </div>
    </form>
{% endblock %}
