{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Groups{% endblock %}

{% block content %}

<div class="container" id="id-groups-select-list">

    <h2>Select Groups</h2>

    <form method="POST">{% csrf_token %}
        <input type="hidden" name="theme_id" value="{{ theme_id }}">
        <div class="form-group">
            <div class="list-group">
                {% for group in group_list %}
                  <div class="list-group-item">
                      <input name="_selected_groups" value="{{ group.id }}" type="checkbox">
                      <span class="list-group-item-heading">{{ group.name }}</span>
                  </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>

</div>

{% endblock content %}
