{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs group_tags%}

{% block title %}Group: {{ object.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "groups:list" %}
    {% breadcrumb object.name "groups:detail" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ object.name }}</h2>
        </div>
    </div>
    <div class="row" id="id-groups-detail">
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left col-md-5 col-sm-3" style="">Issues in {{ object.name }} group</h3>

                  <div class="pull-right">
                    <a href="{% url 'groups:add_group_issue' object.slug %}" class="btn btn-success btn-sm">Add New Issue</a>
                    <a href="{% url 'groups:add_group_existing_issue' object.slug %}" class="btn btn-success btn-sm">Add Existing Issue</a>
                  </div>
              </div>
              <div class="panel-body">
                  <div class="row">
                      {% for issue in group_issues %}
                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                              <div class="caption">
                                <h4><a href="{% url 'issues:detail' issue.slug %}">{{ issue.name }}</h4>
                                <p><small class="text-muted">Last updated at: {{ issue.modified }}</small></p>
                                <p>
                                    {% if issue.id in users_issues %}
                                        <a href="#" class="btn btn-primary btn-xs btn-block" role="button">Unfollow</a>
                                    {% else %}
                                        <a href="#" class="btn btn-primary btn-xs btn-block" role="button">Follow</a>
                                    {% endif %}
                                </p>
                              </div>
                            </div>
                          </div>
                      {% endfor %}
                  </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Discussions</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
        </div>

        <div class="col-sm-5">

                    {% group_info object %}

            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Moderators</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                    {% for moderator in object.moderators %}
                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img class="img-circle" src="{% static "images/avatar-blank.jpg" %}" alt="User Avatar">
                          <div class="caption">
                            <p><small class="text-center text-muted">{{ moderator.user }}</small></p>
                            <p>
                                <a href="{% url "users:detail" moderator.user.username %}" class="btn btn-success btn-xs btn-block" role="button">View</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="">Members</h3>
                  <div class="btn-group pull-right">
                    <a href="{% url 'groups:add_group_member_list' object.slug %}" class="btn btn-success btn-sm">Add New Member</a>
                  </div>
              </div>
              <div class="panel-body">
                <div class="row">
                    {% for member in object.simple_members %}
                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img class="img-circle" src="{% static "images/avatar-blank.jpg" %}" alt="User Avatar">
                          <div class="caption">
                            <p><small class="text-center text-muted">{{ member.user }}</small></p>
                            <p>
                                <a href="{% url "users:detail" member.user.username %}" class="btn btn-primary btn-xs btn-block" role="button">View</a>
                                <div class="form-group">
                                    <form method="POST" action="{% url 'groups:to_moderator' object.slug member.id%}">
                                        {% csrf_token %}
                                        <input type="checkbox" name="is_moderator" checked value="True" style="display: none;">
                                        <button type="submit" class="btn btn-success btn-xs btn-block" role="button">To Moderators</button>
                                    </form>
                                </div>
                                <form method="POST" action="{% url 'groups:remove_group_member' object.slug member.id%}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-xs btn-block" role="button">Remove</button>
                                </form>
                            </p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            {% if digest %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Daily Digest</h3>
                    </div>
                    <div class="panel-body">
<div class="row">

    <!--<div class="list-group">-->
                            {% for item in digest %}
                            <a href="{% url 'digest:detail' item.pk %}" class="list-group-item">
                                Digest from {{ item.created }}
                            </a>
                            {% endfor %}
                       <!-- </div>-->
</div>

                    </div>
                </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock content %}

