{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs i18n pipeline ibis_tags %}
{% block title %}Dashboard{% endblock %}

{% block css %}
  <!-- Additional styles goes here -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {% stylesheet 'dashboard_css' %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Activities" "activities_list" %}
{% endblock %}

{% block content %}
    <div class="row class-activity-wrapper" id="">
        <div class="col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-striped" id="activity-table">
                    <thead>
                    <tr>
                        <th ><em class="icon-activity"></em>Activity<span class="glyphicon glyphicon-menu-down"></span></th>
                        <th class=""><em class="icon-date"></em>Date<span class="glyphicon glyphicon-menu-down"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in user_activities %}
                    <tr>
                        <td>{{ activity }}</td>
                        <td>{{ activity.created|date:"d M Y" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block per_page_js %}
    <!-- Additional js goes here -->
    {% javascript 'dashboard_js' %}
{% endblock %}
