<div class="pagination pull-right">
  {% if is_paginated %}
    <div class="btn-group" role="group">
        <button class="btn btn-primary" form="{{ form_target }}"
                {% if page_obj.has_previous %}
                    name="page"
                    value="{{ page_obj.previous_page_number }}"
                    type="submit"
                {% else %}
                    disabled="disabled"
                {% endif %}>
                &laquo;
        </button>

        <button class="btn btn-default disabled">Page {{ page_obj.number }} of {{ paginator.num_pages }}</button>
        <button class="btn btn-primary" form="{{ form_target }}"
                {% if page_obj.has_next %}
                    name="page"
                    value="{{ page_obj.next_page_number }}"
                    type="submit"
                {% else %}
                    disabled="disabled"
                {% endif %}>
                &raquo;
        </button>
    </div>
    <div class="btn-group">
    {{ form.paginate_by }}
    </div>
  {% endif %}
</div>
