<form method="POST">{% csrf_token %}
    <div class="input-group">
        <input class="form-control" name="name" placeholder="Search name">
        <input class="form-control" type="hidden" name="query" value="{{ form.q.value }}">
        <input class="form-control" type="hidden" name="initials" value="{{ request.get_full_path }}">
        {{ form.user.error }}
        <input class="form-control" type="hidden" name="user" value="{{ request.user.id }}">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-success pull-right">Save</button>
        </span>
    </div><!-- /input-group -->

</form>
