<div class="list-group-item clearfix">
    <div class="col-sm-8 col-md-9">
        <p class="list-group-item-text">
          <a href="{% url "searches:detail" search.id %}">
            {% if search.type is "rss" or search.type is "article" %}
              {{ search.main_query }}
            {% elif search.name|default_if_none:"Unnamed search" %}
              {{ search.name }}
            {% endif %}
          </a></p>
    </div>
    <div class="col-sm-4 col-md-3">
        {% if search.active %}
          <span >
            <form style="display: inline-block" action="{% url "searches:activestate" search.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="active" value="0">
                <button class="btn btn-danger" type="submit">Deactivate</button>
            </form>
          </span>
          {% else %}
          <span >
            <form style="display: inline-block" action="{% url "searches:activestate" search.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="active" value="1">
                <button class="btn btn-primary" type="submit">Activate</button>
            </form>
          </span>
        {% endif %}
    </div>
</div>
