<div class="row">
    <div class="col-sm-12 col-md-12">
        <div id="id-tq-result-wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <ul id="search-results">
                        {% for search in searches %}
                            <li>
                                <div class="result-title">
                                    <a href="{{ search.link }}"
                                       target="_blank">{{ search.title }}</a>
                                </div>
                                <div class="result-url">
                                    {{ search.link }}
                                </div>
                                <div class="result-text">
                                    {% if search.pagemap.cse_image.0 %}
                                        <img src="{{ search.pagemap.cse_image.0.src }}"/>
                                        <div>
                                            <div>{{ search.snippet }}</div>
                                        </div>
                                    {% else %}
                                        {{ search.snippet }}
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
