{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs %}

{% block title %}Group: {{ object.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Groups" "groups:list" %}
    {% breadcrumb object.group.name "groups:detail" object.group.slug %}
    {% breadcrumb "Daily Digest" object.created %}
{% endblock %}

{% block content %}
    <div class="container" id="id-dailydigest-detail">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ object.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left" style="">Articles in a digest form {{ object.created }} </h3>
                        <div class="pull-right">
                            <form method="POST" action="">
                                {% csrf_token %}
                                {% if object.approved %}
                                    <input type="hidden" name="state" value="{{ False }}">
                                    <button type="submit" class="btn btn-danger btn-sm">Cancel Approval</button>
                                {% else %}
                                    <input type="hidden" name="state" value="{{ True }}">
                                    <button type="submit" class="btn btn-success btn-sm">Approve Digest</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">


                            <!--<div class="list-group">-->
                            {% for article in object.articles.all %}

                                <div class="list-group-item clearfix">
                                    <!--<div class="row">-->
                                    <div class="col-sm-10">
                                        <p class="list-group-item-text">
                                            <a href="{% url 'articles:detail' article.pk %}">{{ article.translated_title }}</a>
                                        </p>

                                    </div>
                                    <div class="col-sm-2">
                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            <input type="hidden" name="article" value="{{ article.pk }}">
                                            <button type="submit" class="btn btn-primary " role="button">Remove</button>
                                        </form>
                                    </div>
                                    <!-- </div>-->
                                </div>

                            {% endfor %}
                            <!-- </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

