/* Show NAV MENU items on :hover if JS is disabled*/
.nav-item.dropdown:hover ul.dropdown-menu {
    display: block;
}

.nav-item.dropdown:hover a.nav-link.dropdown-toggle {
  background-color: #e7e7e7;
  color: #555555;
}
