/* These styles are generated from project.scss. */

select[multiple] {
  min-height: 150px;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

form.navbar-form {
  width: 50% !important;
}

form.navbar-form div {
  width: 80% !important;
}

form.navbar-form div input {
  width: 100% !important;
}

#dashboard-user-items .panel-body, .up-panel-list {
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#id-searches-list .thumbnail, #id-groups-list .thumbnail, #id-issues-list .thumbnail {
  /*height: 150px;*/
  height: 175px;
}

#search-results {
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-results li {
  clear: both;
  /* margin-bottom: 30px;*/
  margin-bottom: 20px;
}

#search-results .result-title {
  font-size: 1.5em;
}

#search-results .result-url {
  color: #239169;
  margin: 2px 0;
  display: block;
  width: 100%;
  text-overflow: clip;
  overflow-wrap: break-word;
}

#search-results .result-text {
  color: #979797;
}

#search-results .result-text img {
  width: 100px;
  float: left;
  /* margin-right: 5px;*/
  margin-right: 10px;
}

#id-user-management select.um-filter {
  height: 10em;
}

.up-search-filters-table {
  height: 250px;
  overflow-y: scroll;
}

.article-image {
  width: 100%;
}

.article-body {
  /*height:200px;*/
  /*overflow-y: scroll;*/
}

/* This is a fix for the bootstrap4 alpha release */
@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    float: none;
    width: 100%;
    display: inline-block;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

/* Display django-debug-toolbar.
   See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
   and https://github.com/pydanny/cookiecutter-django/issues/317
*/
[hidden][style="display: block;"] {
  display: block !important;
}

#map_canvas {
  height: 200px;
}

/*
new style
*/

button:focus,
a:focus {
  outline: none;
}

button::-moz-focus-inner,
a::-moz-focus-inner {
  border: 0;
}

html, body {
  height: 100%
}

ul {
  list-style: none;
}

#root-container {
  /*min-height: 100% - 31.27% height .footer */
  min-height: 68.73%;
  position: relative;
}

[class^='icon-'] {
  vertical-align: middle;
  padding-right: 10px;
}

/***** Header *****/
.header-top {
  background-image: -moz-linear-gradient(0deg, rgb(37, 78, 110) 0%, rgb(29, 57, 79) 31%, rgb(43, 78, 108) 49%, rgb(116, 82, 78) 66%, rgb(46, 78, 102) 81%, rgb(46, 78, 101) 100%);
  background-image: -webkit-linear-gradient(0deg, rgb(37, 78, 110) 0%, rgb(29, 57, 79) 31%, rgb(43, 78, 108) 49%, rgb(116, 82, 78) 66%, rgb(46, 78, 102) 81%, rgb(46, 78, 101) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(37, 78, 110) 0%, rgb(29, 57, 79) 31%, rgb(43, 78, 108) 49%, rgb(116, 82, 78) 66%, rgb(46, 78, 102) 81%, rgb(46, 78, 101) 100%);

  left: -1px;
  top: 0px;
  height: 74px;

  padding-left: 0px !important;
  padding-right: 0px !important;

}

.header-top span {
  color: white;
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.img-icon {
  height: 25px;
  width: 25px;
  background-color: #f5620b;
  display: block;
  border-radius: 25px;
  position: relative;

  float: left;
}

.img-icon em {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 3px auto auto 4px;
}

.img-icon span {
  float: right;

  font-size: x-small;
  margin-right: -1em;
}

#icon-account {
  height: 3.5em;
  width: 3.5em;
  border-radius: 2em;
  border: 2px solid white;
  background-image: url("../images/icon-account.png");

  background-size: 3.5em;
  background-repeat: no-repeat;
  /* -2px = border 2px*/
  background-position-x: -2px;
  padding: 0;
}

.header-top .open > ul.dropdown-menu.pull-left {
  border-radius: 0px;
  border: 0px;
  margin-top: 10px;
}

button#icon-account,
button#icon-account:hover,
button#icon-account:focus {
  outline: none;
}

.header-nav {
  min-height: 74px;
  background-color: #f9f9fa;
}

.header-nav .row > div > ul {
  margin-bottom: 0px;
  /*margin-top: 20px;*/
  /*max-width: 55%;*/
}

.header-top .row > div
/*.header-nav #bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right*/ {
  margin-top: 1em;
}

.header-top .row > div > div {
  display: inline-block;
}

#id-user-name {
  padding: 5px;
}

/* search */
#search {
  float: left;
  /*padding-top: 10px;*/
  padding-top: 5px;
}

#search input {

  border-radius: 2em;
  height: 2.2em;
  width: 17em;
}

#search > span {
  float: right;
  font-size: x-small;
  padding-right: 10px;
}

/* end search */

#bs-example-navbar-collapse-1 .navbar-right button,
#bs-example-navbar-collapse-1 .navbar-right button:focus,
#bs-example-navbar-collapse-1 .navbar-right button:hover,
#bs-example-navbar-collapse-1 .navbar-right button:active {
  margin-top: 20px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  color: #615F61;
  box-shadow: none;
}

.breadcrumb {
  float: left;
  background-color: #f9f9fa !important;

}

.breadcrumb .active,
li.nav-item > a,
li.nav-item > a:hover,
li.nav-item > a:focus {
  color: #f5620b !important;
}

/****** end Header *****/

/******* Main ********/

.main {
  background-color: #F0F0F0;
  padding: 20px 20px 0px 20px !important;
}

.table-responsive {
  padding: 10px;
  margin-bottom: 20px;
}

/*
.class-activity-wrapper td, .class-activity-wrapper th {
  padding-left: 3em !important;
  vertical-align: middle !important;

}*/
/*
.class-activity-wrapper td {
  padding-right: 3em !important;
}*/

.class-activity-wrapper .table-striped {
  margin-bottom: 0px;
}

.class-activity-wrapper .table-responsive {
  background-color: #fcfcfc;
}

.class-activity-wrapper thead tr {
  background-color: #14446a;
  color: white;

}

/*
.class-activity-wrapper thead tr th {
  padding-top: 10px;
  padding-bottom: 10px;
}*/

.class-activity-wrapper thead .icon-activity:before {
  content: url("../images/icon-activity.png");
}

.class-activity-wrapper thead .icon-date:before {
  content: url("../images/icon-date.png");
}

.class-activity-wrapper thead .icon-location:before {
  content: url("../images/icon-location.png");
}

.class-activity-wrapper thead .icon-notes:before {
  content: url("../images/icon-notes.png");
}

.class-activity-wrapper tbody tr {
  background-color: #f0f0f0;
}

.class-activity-wrapper tbody > tr:nth-of-type(odd) {
  background-color: #F3DEDA !important; /*#f2dfd9;*/
}

/* not last element */
.class-activity-wrapper th:nth-child(-n+3), .class-activity-wrapper td:nth-child(-n+3) {
  border-right: 1px solid #dadada;
}

.class-activity-wrapper tbody td {
  color: #608876
}

.my-saved-articles {
  margin-top: 0px;
  font-size: 25px;
  color: #134369;
  line-height: 1.64;
}

/* dashboard */
#dashboard-user-items .panel-heading,
.main > #id-user-profile > .row div.row .panel-default .panel-heading {

  border-bottom-width: 0px;
}

#dashboard-user-items .panel-heading .btn {
  border-radius: 0;
  border-color: transparent;
}

#dashboard-user-items .panel-body .list-group li {

  border-bottom-width: 0px;
  border-top-width: 0px;
  margin: 1px;
}

#dashboard-user-items #id-your-groups .panel-heading,
.main > #id-user-profile > .row div.row #id-your-groups .panel-heading {
  background-color: #E85D00;
}

#dashboard-user-items #id-your-groups .panel-body,
.main > #id-user-profile #id-your-groups .panel-heading .btn {
  background-color: #FD6500;
}

#dashboard-user-items #id-your-groups .panel-body .list-group li, #dashboard-user-items #id-your-groups .panel-heading .btn,
.main > #id-user-profile #id-your-groups .list-group li {
  background-color: #FC741C;
}

#dashboard-user-items #id-your-issues .panel-heading,
.main > #id-user-profile > .row div.row #id-your-issues .panel-heading {
  background-color: #578FB2;
}

#dashboard-user-items #id-your-issues .panel-body,
.main > #id-user-profile #id-your-issues .panel-body {
  background-color: #70A5C5;
}

#dashboard-user-items #id-your-issues .panel-body .list-group li,
#dashboard-user-items #id-your-issues .panel-heading .btn,
.main > #id-user-profile #id-your-issues .panel-heading .btn,
.main > #id-user-profile #id-your-issues .list-group li {
  background-color: #7FAECC;
}

#dashboard-user-items #id-your-searches .panel-heading,
.main > #id-user-profile #id-your-themes .panel-heading {
  background-color: #424a5d;
}

#dashboard-user-items #id-your-searches .panel-body {
  background-color: #596273;
}

#dashboard-user-items #id-your-searches .panel-body .list-group li, #dashboard-user-items #id-your-searches .panel-heading .btn,
.main > #id-user-profile #id-your-themes .panel-heading .btn,
.main > #id-user-profile #id-your-themes .list-group li {
  background-color: #6C7282;
}

#dashboard-user-items .panel-body .list-group {
  padding: 10px;
  margin-bottom: 0px;
}

#dashboard-user-items .panel-body .list-group li a, #dashboard-user-items .panel-heading a,
.main > #id-user-profile > .row div.row .panel-heading .btn,
.main > #id-user-profile #id-your-groups .panel-heading .btn,
.main > #id-user-profile > .row div.row .list-group li a,
.main > #id-user-profile > .row div.row .panel-heading h3 {
  color: white;

}

#dashboard-user-items .panel-body .list-group li a.button {
  background-color: #f5620b;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  color: white;
  float: right;
  text-decoration: none;
  padding: 3px 5px;
  position: relative;
  top: -25px;
}

#dashboard-user-items .table-striped td a {
  color: #F76916;
  text-decoration: underline;
}

#icon-test {
  height: 2em;
  width: 2em;
  float: left;
  margin-right: 10px
}

.glyphicon-menu-down {
  font-size: x-small;
}

th span.glyphicon.glyphicon-menu-down {
  margin-left: 4px;
}

/* end dashboard */

/******* end Main ****/

/****** Footer ******/

.footer {
  background-color: #21282c;
  min-height: 290px;
  margin-top: 20px;
  position: absolute;

  /* bottom: 290px height .footer + 20px margin-top*/
  bottom: -310px;
  left: 0;
  right: 0;

}

.footer .row div {
  font-family: 'Montserrat', sans-serif;
}

.footer .row > div {
  margin-top: 5em;
}

.footer h3 {
  color: white;
}

.footer p, .footer a {
  color: #717C88;

}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer .row > div div:last-child p {
  margin-top: 4em;
}

.icon-map-pin:before {
  content: url("../images/map-pin.png");
}

.icon-telephone:before {
  content: url("../images/telephone1.png");
}

.icon-email:before {
  content: url("../images/email.png");
}

.footer .row .col-sm-3:first-child h3 {
  width: 2em;
  background: linear-gradient(to right, #1cc0ff, #66ffcc);
  -webkit-background-clip: text;
  color: transparent;
}

/****** end Footer ******/

/* styles for dropdown-submenu */
/*.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu .pull-left {
  float: none;
}

.dropdown-submenu .pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-submenu .pull-left {
  right: 100% !important;
}*/

/* end styles for dropdown-submenu */

/****** Themes styles *********/

#id-container-themes {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

#id-container-themes .row .thumbnail {
  border: 1px solid #dadada;
  border-radius: 0px;
}

#id-container-themes .row .caption h4,
#id-container-themes .row .caption > div {
  float: left;
}

#id-container-themes .row .caption > div {
  width: 100%;
}

#id-container-themes .row .caption h4 a,
#id-container-themes .row .caption h4 a:hover,
#id-container-themes .row .caption h4 a:focus {
  color: #F76916;
  text-decoration: underline;
}

#id-container-themes .row .caption > .btn {
  background-color: #f5620b;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  color: white;
  border-radius: 0;
}

#id-container-themes .row .caption p {
  color: #608876;
}

em#id-figure-plus,
em#id-figure-plus + span {
  vertical-align: middle;
}

#id-figure-plus {
  display: inline-block;
  margin-right: 12px;
  background-color: white;
  height: 14px;
  position: relative;
  width: 2px;
}

#id-figure-plus:after {
  background-color: white;
  content: "";
  height: 2px;
  left: -6px;
  position: absolute;
  top: 6px;
  width: 14px;
}

/*** add Themes ***/

.form-horizontal #div_id_name,
.form-horizontal #div_id_description {
  margin-left: 0px;
  margin-right: 0px;
}

.form-horizontal #div_id_name label,
.form-horizontal #div_id_description label,
.form-horizontal #div_id_access label {
  color: white;
  background-color: #14446a;
  width: 100%;

  text-align: left;
  padding: 8px 15px;
}

.form-horizontal #div_id_name .controls #id_name {
  border-radius: 0;
  border: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-horizontal #div_id_description .controls textarea {
  border-radius: 0;
  border: 1px solid #dddddd;
}

.form-horizontal .control-group .controls button {
  background-color: #FC741C;
  color: white;
  border-radius: 0;
  float: right;
  padding-left: 15px;
  padding-right: 15px;

  margin-bottom: 20px;
}

/********** Groups, Issues style*****/

.main > .container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.main > .container .row .thumbnail {
  border: 1px solid #dadada;
  border-radius: 0px;
}

.main > .container .row .caption h4 a,
.main > .container .row .caption h4 a:hover,
.main > .container .row .caption h4 a:focus,
.main #id-groups-detail div.panel-body > .row > a.list-group-item,
.main #id-groups-detail div.panel-body > .row > a.list-group-item:hover,
.main #id-groups-detail div.panel-body > .row > a.list-group-item:focus {
  color: #F76916;
  text-decoration: underline;
}

.main > .container .row .caption > .btn {
  background-color: #f5620b;

  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  color: white;
  border-radius: 0;
}

.main > .container .row .thumbnail .caption div.pull-right span {
  color: #134369;
}

/** add groups **/

.main .form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

/*
.main .form-horizontal .form-group label:not(.control-label),
.main .form-horizontal + div.form-group label:not(.control-label)
*/

.main .form-horizontal .form-group label:not(.checkbox),
.main .form-horizontal + div.form-group label:not(.checkbox),
.main #id-article-update h4 {
  color: white;
  background-color: #14446a;
  width: 100%;
  text-align: left;
  padding: 8px 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.input-group > .form-control {
  border-radius: 0;
  border: 1px solid #dddddd;
}

.main .form-horizontal ~ div.control-group {
  margin-bottom: 20px;
  margin-top: 5px;

}

.main .form-horizontal ~ div.control-group button.btn {
  border: 0;
  border-radius: 0;
  color: white;
  background-color: #f5620b;
}

.main > .container .row .caption .btn-danger,
.main > .container .row .caption .btn-primary {
  border: 0;
  border-radius: 0;
}

.main > .container .row .caption .btn-danger {
  background-color: #6C7282;
}

.form-horizontal .form-wrapper input {
  border-radius: 0;
  border: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-horizontal .form-wrapper .form-group {
  margin-bottom: 20px;
}

.form-horizontal .form-wrapper div:last-child div {
  padding-left: 0px;
  padding-right: 0px;
}

.form-horizontal .form-wrapper div:last-child div:first-child {
  padding-right: 10px;
}

.form-horizontal .form-wrapper div:last-child div:last-child {
  padding-left: 10px;
}

.form-horizontal .form-wrapper div:last-child div:last-child .btn-group {
  padding-left: 0px;
}

.form-horizontal .form-wrapper div:last-child div:last-child .btn-group button {
  border-radius: 0px;
  color: #555555;
}

.form-horizontal .form-wrapper div:last-child div:last-child .btn-group ul {
  width: inherit;
}

.form-horizontal .form-wrapper div:last-child div:last-child .btn-group ul li:focus,
.form-horizontal .form-wrapper div:last-child div:last-child .btn-group ul li a:focus {
  outline: none;
}

.form-horizontal .form-wrapper div:last-child div:last-child .btn-group ul .active > a {
  background-color: #f5620b;
}

.main .content .tab-content {
  background: none;
  margin-top: 10px;
}

.main .form-horizontal h4 {
  color: #134369;
  line-height: 1.64;
}

.main .form-group .btn:not(.multiselect) {
  /*border: 0;
  border-radius: 0;*/
  color: white;
}

.main .form-group a.btn-default {
  background-color: #6C7282;
  border: 1px solid #6C7282;
  border-radius: 0;
}

#form1 .form-horizontal > .row div {
  /*width: 100%;*/
}

#form1 .form-horizontal .pull-right,
#form1 .form-horizontal .row > .col-sm-4 {
  margin-top: 20px;
}

.form-horizontal > .row div:first-child input {
  border-radius: 0;
  border: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

/************ User profile *********/

.main > div > .row div.row:first-child img.img-circle {
  border: 2px solid white;
}

.main > div > .row div.row:first-child .text-muted .glyphicon-envelope {
  vertical-align: text-top;
  margin-right: 5px;
}

.main > div > .row div.row:first-child a.btn-success.pull-right {
  background-color: #f5620b;
  color: white;
  border-radius: 0;
  border: none;
}

.table-responsive {
  background-color: #fcfcfc;
}

.table-responsive .table-striped {
  margin-bottom: 0px;
}

.table-responsive .table-striped thead tr,
.table-responsive .table-striped {
  background-color: #14446a;
  color: white;
}

.table-responsive .table-striped thead th {
  border-bottom-width: 0px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-responsive tbody > tr:nth-of-type(odd) {
  background-color: #F3DEDA !important;
}

.table-responsive tbody tr {
  background-color: #f0f0f0;
}

/*
.table-responsive th:nth-child(-n+3),
.table-responsive td:nth-child(-n+3) {
  border-right: 1px solid #dadada;
}*/
.table-responsive th,
.table-responsive td {
  border-right: 1px solid #dadada;
}

.table-responsive th:last-child,
.table-responsive td:last-child {
  border-right-width: 0px;
}

.table-responsive tbody td {
  color: #608876;
}

.table-responsive td, .table-responsive th {
  vertical-align: middle !important;
}

.table-responsive td:not(.date-created) {
  /*padding-right: 3em !important;*/
  padding-right: 2em;
}

.table-responsive td:not(.date-created), .table-responsive th:not(.date-created) {
  /*padding-left: 3em !important;*/
  padding-left: 2em;
}

.table-responsive th.date-created {
  padding-left: 2em;
}

/*
.main > #id-user-profile > .row div.row .panel-default .panel-heading {
  border-bottom-width: 0px;
}*/
/*
.main > #id-user-profile > .row div.row #id-your-groups .panel-heading {
  background-color: #E85D00;
}*/
/*
.main > #id-user-profile > .row div.row #id-your-issues .panel-heading {
  background-color: #578FB2;
}*/
/*
.main > #id-user-profile > .row div.row #id-your-themes .panel-heading {
  background-color: #424a5d;
}*/
/*
.main > #id-user-profile > .row div.row .panel-heading .btn,
.main > #id-user-profile > .row div.row #id-your-groups .panel-heading .btn,
.main > #id-user-profile > .row div.row .list-group li a,
.main > #id-user-profile > .row div.row .panel-heading h3 {
  color: white;
}*/
/*
.main > #id-user-profile > .row div.row #id-your-groups .panel-heading .btn {
  background-color: #FC741C;
}*/
/*
.main > #id-user-profile > .row div.row #id-your-issues .panel-heading .btn {
  background-color: #7FAECC;
}*/
/*
.main > #id-user-profile > .row div.row #id-your-themes .panel-heading .btn {
  background-color: #6C7282;
}*/
/*
.main > #id-user-profile > .row div.row #id-your-groups .list-group li {
  background-color: #FC741C;
}*/
/*
.main > #id-user-profile > .row div.row #id-your-issues .list-group li {
  background-color: #7FAECC;
}*/
/*
.main > #id-user-profile > .row div.row #id-your-themes .list-group li {
  background-color: #6C7282;
}*/

.main > #id-user-profile > .row div.row .list-group li {
  border-bottom-width: 0px;
  border-top-width: 0px;
  margin: 1px;
  border-radius: 0px;
}

/*************** Filters search ********************/

/*#filter-block > div:first-child {*/
#filter-block {
  padding-right: 10px;
}

#filter-block > div:last-child {
  padding-left: 10px;
}

#filter-block > div:last-child > div.row:first-child,
#filter-block div.row > div.results > div.row:first-child,
#filter-block div.results form > div.input-group,
#id-container-themes > div.row:first-child,
#id-search-list > div.row:first-child,
#id-issues-list > div.row:first-child,
#id-groups-list > div.row:first-child {
  margin-bottom: 20px;
}

#filter-block .form-group input {
  border-radius: 0;
  border: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;
  /*margin-bottom: 10px;*/

}

#result-block {
  padding: 0 4px 0px 10px;
}

#result-block button.btn-default,
#filter-block button.btn-success {
  border: 1px solid #f5620b;
  border-radius: 0;
  color: white;
  background-color: #f5620b;
}

#result-block .pagination > div button {
  border: 0;
  border-radius: 0;
}

#result-block .pagination button.disabled {
  background-color: #fff;
  color: black;
}

#result-block .pagination > div button.btn-primary {
  color: white;
  background-color: #f5620b;
}

#filter-block .form-group button.btn-default {

  border: 1px solid #f5620b;
  border-radius: 0;
  color: white;
  background-color: #f5620b;
}

/*.results > #search-results {*/
#search-results {
  margin-top: 20px;
  padding: 0px 10px 0px 10px;
  background-color: #fcfcfc;

  margin-bottom: 20px;
}

#search-results li {
  background-color: #f0f0f0;

  border: 1px solid #dddddd;
  padding: 10px;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

#search-results > .input-group {
  margin-top: 10px;
  padding-bottom: 10px;
}

#search-results li:nth-of-type(odd) {
  background-color: #F3DEDA;
}

#search-results li div {
  color: #608876;
}

#search-results li .result-title a {
  color: #F76916;
  text-decoration: underline;
}

#filter-block .thumbnail {
  border-radius: 0px;
  padding: 10px;
  border: 0;
  background-color: #fcfcfc;
}

#filter-block .thumbnail .caption {
  background-color: #14446a;
  color: white;
  font-weight: bold;
}

#filter-block .thumbnail .caption ul.list-unstyled {
  margin-top: 10px;
}

#filter-block .thumbnail .caption button.btn-default {
  background-color: #f5620b;
  color: white;
  border: 0;
  border-radius: 0;

}

/*
#search-list-filter .thumbnail .caption #id_last_days,
#search-list-filter .thumbnail .caption input {
  border: 1px solid #dddddd;
  border-radius: 0;
}
*/

#filter-block div.results form > div.input-group input.form-control {
  border-radius: 0;
  border: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;
  /*margin-bottom: 10px;*/
  /*margin-left: 6px;*/
  /*width: 60%;*/
  /*display: inline-block;*/
}

#filter-block div.results form > div.input-group button.btn {
  border: 1px solid #f5620b;
  border-radius: 0;
  color: white;
  background-color: #f5620b;

  /*width: 8em;*/
  /*display: inline-block;
  vertical-align: top;*/
}

/*********** Sign up ****************/

.main .signup label {
  color: white;
  background-color: #14446a;
  width: 100%;
  text-align: left;
  padding: 8px 15px;
  margin-bottom: 0px;
}

.main .signup input {
  border-radius: 0;
  border: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main .signup button {
  border: 0;
  border-radius: 0;
  color: white;
  background-color: #f5620b;
  /*margin-bottom: 20px;*/
}

.main > div.row > div > h1,
.main > h1 {
  margin-top: 0px;
}

.main p, .main h1, dl.dl-horizontal {
  color: #134369;
}

.main p a:not(.btn), .main p a:not(.btn):hover, .main p a:not(.btn):focus, .main p a:not(.btn):active,
.main td > a, .main td > a:hover, .main td > a:focus,
.main li.list-group-item > a, .main li.list-group-item > a:hover, .main li.list-group-item > a:focus {
  color: #F76916;
  text-decoration: underline;
}

#sign-up-link, #log-in-link {
  /*margin-top: 12px;
  margin-bottom: 12px;*/
}

/********* Sing In *******/
.main form.login label {
  color: white;
  background-color: #14446a;
  width: 100%;
  text-align: left;
  padding: 8px 15px;
  margin-bottom: 0px;
}

.main form.login input {
  border-radius: 0;
  border: 1px solid #dddddd;
  /*
   padding-top: 10px;
  padding-bottom: 10px;
  */
  padding-top: 6px;
  padding-bottom: 6px;
}

.main form.login input.checkboxinput {
  margin-left: 0px;
  position: relative;
  vertical-align: text-bottom;
}

.main form.login button.btn-primary {
  border: 0;
  border-radius: 0;
  color: white;
  background-color: #f5620b;
  /* margin-bottom: 20px;*/
}

.main form.login a.secondaryAction {
  float: right;
  color: #F76916;
  text-decoration: underline;
  padding-top: 6px;
  padding-bottom: 6px;
}

/********* Sin out*********/

.main .row > div.col-md-6.col-md-offset-3:last-child {
  margin-bottom: 20px;
}

.main form button.btn-danger {
  border: 0;
  border-radius: 0;
  color: white;
  background-color: #f5620b;

}

/******** Comments ******/

.main div.panel.panel-default,
.main > div#id-user-select-list > form > div:first-of-type,
.main > div#id-groups-select-list > form > div:first-of-type,
.main > div#id-issues-select-list > form > div:first-of-type {
  background-color: #fcfcfc;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 0;
}

#id-search-detail div.panel.panel-default {
  margin-bottom: 0px;
}

#comments #comment-list {
  margin-bottom: 10px;
}

#comments #comment-list li {
  list-style: none;

  background-color: #F3DEDA;
  padding: 10px;
}

#comments #comment-list li div.media-body > div.media {
  background-color: #f0f0f0;
  padding: 10px;
}

#comments h4 {
  color: #134369;
  line-height: 1.64;

  margin-top: 0px;
  text-align: center;
}

#comments #comment-list li p,
#parent-comment dd p {
  color: #608876;
}

#parent-comment {
  background-color: #fcfcfc;
}

#parent-comment dt {
  color: white;
  background-color: #14446a;
  width: 100%;
  text-align: left;
  padding: 8px 15px;
  margin-bottom: 0px;
}

#parent-comment dd p {
  padding: 8px 15px;
}

.main div.panel.panel-default div.panel-body .row > div {
  padding-left: 0px;
  padding-right: 0px;
}

#comment-form,
.main > form.form-horizontal {
  margin-bottom: 20px;
}

#comment-form input, #comment-form textarea,
.main > form > fieldset input.form-control#id_title,
.main > form > fieldset textarea.form-control#id_comment {
  border-radius: 0;
  /*border: 1px solid #dddddd;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

#comment-form textarea,
.main > form > fieldset textarea.form-control#id_comment {
  height: 8em;
}

#comment-form label.control-label {
  color: #134369;
  line-height: 1.64;
}

#comment-form input.btn-default,
.main div.panel-heading.clearfix div.pull-right a.btn-success {
  border: 0;
  border-radius: 0;
  color: white;
  background-color: #f5620b;
}

.main div.panel-heading.clearfix h3.panel-title.pull-left {
  margin: 5px 0px;
}

.main .panel-default div.list-group-item.clearfix form button.btn-danger {
  background-color: #6C7282;
}

.main h2 {
  margin-top: 0px;
  font-size: 25px;
  color: #134369;
  line-height: 1.64;
}

.main a.btn-success {
  border: 0;
  border-radius: 0;
  color: white;
  background-color: #f5620b;
}

/***************** Article search ****/
.main .row > div > div > h3 {
  margin-top: 0px;
  color: #134369;
  line-height: 1.64;
}

.main #id-article-detail,
.main #id-article-update {
  padding-bottom: 20px;
}

.main #id-article-detail > div:last-child > div.panel.panel-default,
.main #id-article-update > div:last-child > div.panel.panel-default,
.main > div#id-user-select-list > form > div:first-of-type > div.list-group,
.main > div#id-groups-select-list > form > div:first-of-type > div.list-group,
.main > div#id-issues-select-list > form > div:first-of-type > div.list-group {
  margin-bottom: 0px;
}

#id-article-detail .well,
#id-article-update .well {

  background-color: #fcfcfc;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 0;
}

#id-article-detail .well > h4,
#id-article-update .well > h4 {
  background-color: #14446a;
  color: white;
  border-radius: 0;
  vertical-align: middle !important;
  padding: 8px 8px 8px 3em;

  margin-top: 0px;
}

#id-article-detail .well > div.article-body {
  color: #608876;
}

#id-article-detail .well #article-translated-body {
  background-color: #F3DEDA;
  border: 1px solid #dddddd;
  padding: 10px;
  margin: 0px;
}

#id-article-update .well #article-translated-body {
  margin-bottom: -5px;

}

#id-article-detail .well #article-origin-body {
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
  padding: 10px;
  margin: 0px;
}

#id-article-detail div.row div.well,
#id-article-update div.row div.well {
  border-radius: 0;
  border: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#id-article-detail a.btn-primary,
#id-article-detail a.btn-primary:hover,
#id-article-detail a.btn-primary:focus {
  border: 1px solid #f5620b;
  border-radius: 0;
  color: white;
  background-color: #f5620b;
}

#id-article-detail .well a,
#id-article-update .well a {
  color: #F76916;
  text-decoration: underline;
}

#id-article-detail .well strong,
#id-article-update .well strong,
.main #id-user-select-list > form > .form-group > div.list-group > div.list-group-item span,
.main #id-groups-select-list > form > .form-group > div.list-group > div.list-group-item span,
.main > div#id-issues-select-list > form > .form-group > div.list-group > div.list-group-item span {
  color: #134369;
  line-height: 1.64;
}

#id-article-detail .panel-default div.panel-heading.clearfix,
#id-article-update .panel-default div.panel-heading.clearfix {
  background-color: #14446a;
  color: white;
  border-radius: 0;
  vertical-align: middle !important;
  padding: 8px 8px 8px 3em;
}

#id-article-detail .panel-default ul.list-group li,
#id-article-update .panel-default ul.list-group li,
#id-issue-comments .panel-default ul.list-group li,
#id-search-detail .panel-default ul.list-group li,
#id-groups-detail .panel-default ul.list-group li{
  background-color: #14446a;
  color: white;
  border-radius: 0;
}

.main ul#search-results {

  background-color: #fcfcfc;
  /*padding-bottom: 10px;*/
  /* margin-bottom: 10px;*/

}

#id-search-detail ul#search-results,
#filter-block ul#search-results {
  padding: 0px 10px;
  margin-bottom: 20px;
}

.main #id-search-detail .row > div > h1 {
  margin-top: 0px;
  float: left;
  min-height: 39px;

}

.main #id-search-detail .row > div > a.btn-success {
  float: right;
}

/************* Themes , Groups, Issue detail ***/

.main #id-issue-detail div > form {
  float: right;
}

.main #id-issue-comments div.panel.panel-default div.panel-heading.clearfix,
.main #id-themes-detail div.panel.panel-default div.panel-heading.clearfix,
.main #id-groups-detail div.panel.panel-default div.panel-heading,
.main #id-dailydigest-detail div.panel.panel-default div.panel-heading.clearfix {
  background-color: #14446a;
  color: white;
  border-radius: 0;
  vertical-align: middle !important;
  padding: 8px 8px 8px 3em;
}

.main #id-issue-comments div.panel.panel-default > div.panel-body,
.main #id-themes-detail div.panel.panel-default > div.panel-body,
.main #id-groups-detail div.panel.panel-default > div.panel-body,
.main #id-dailydigest-detail div.panel.panel-default > div.panel-body {
  padding-bottom: 0px;
}

.main #id-themes-detail div.panel.panel-default > div.panel-body > .row div.thumbnail,
.main #id-groups-detail div.panel.panel-default > div.panel-body > .row div.thumbnail {
  background-color: #f0f0f0;
  margin-bottom: 0px;
}

.main #id-themes-detail div:last-child div.panel.panel-default > div.panel-body > .row div.thumbnail > .caption > p,
.main #id-groups-detail div:last-child div.panel.panel-default > div.panel-body > .row div.thumbnail > .caption > p {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main #id-themes-detail div:last-child div.panel.panel-default > div.panel-body > .row div.thumbnail > .caption > p small,
.main #id-groups-detail div:last-child div.panel.panel-default > div.panel-body > .row div.thumbnail > .caption > p small {
  color: #608876;
}

.main #id-issue-comments > div:first-child div.panel-body > .row > div.list-group-item.clearfix,
.main #id-themes-detail > div:first-child div.panel-body > .row > div.list-group-item.clearfix,
.main #id-groups-detail > div:first-child div.panel-body > .row > div.list-group-item.clearfix,
.main #id-groups-detail div.panel-body > .row > a.list-group-item,
.main #id-dailydigest-detail div.panel.panel-default > div.panel-body > .row > div.list-group-item,
.main #id-user-select-list > form > .form-group > div.list-group > div.list-group-item,
.main #id-groups-select-list > form > .form-group > div.list-group > div.list-group-item,
.main #id-issues-select-list > form > .form-group > div.list-group > div.list-group-item {
  background-color: #f0f0f0;
  border-radius: 0;
}

.main #id-issue-comments > div:first-child div.panel-body > .row > div.list-group-item.clearfix:nth-of-type(odd),
.main #id-themes-detail > div:first-child div.panel-body > .row > div.list-group-item.clearfix:nth-of-type(odd),
.main #id-groups-detail > div:first-child div.panel-body > .row > div.list-group-item.clearfix:nth-of-type(odd),
.main #id-groups-detail div.panel-body > .row > a.list-group-item:nth-of-type(odd),
.main #id-dailydigest-detail div.panel.panel-default > div.panel-body > .row > div.list-group-item:nth-of-type(odd),
.main #id-user-select-list > form > .form-group > div.list-group > div.list-group-item:nth-of-type(odd),
.main #id-groups-select-list > form > .form-group > div.list-group > div.list-group-item:nth-of-type(odd),
.main > div#id-issues-select-list > form > .form-group > div.list-group > div.list-group-item:nth-of-type(odd) {
  background-color: #F3DEDA;
}

.main #id-issue-comments > div:first-child div.panel-body > .row > div.list-group-item.clearfix > div:last-child,
.main #id-themes-detail > div:first-child div.panel-body > .row > div.list-group-item.clearfix > div:last-child,
.main #id-groups-detail > div:first-child div.panel-body > .row > div.list-group-item.clearfix > div:last-child,
.main #id-dailydigest-detail div.panel.panel-default > div.panel-body > .row > div.list-group-item.clearfix > div:last-child {
  text-align: right;
}

.main #id-article-update > div.col-sm-8,
.main #id-article-detail > div.col-sm-8,
.main #id-issue-comments > div.col-sm-8,
.main #id-themes-detail > div.col-sm-7,
.main #id-groups-detail > div.col-sm-7 {
  padding-right: 10px;
}

.main #id-article-update > div.col-sm-4,
.main #id-article-detail > div.col-sm-4,
.main #id-issue-comments > div.col-sm-4,
.main #id-themes-detail > div.col-sm-5,
.main #id-groups-detail > div.col-sm-5 {
  padding-left: 10px;
}

.main #id-themes-detail > div:first-child .thumbnail,
.main #id-groups-detail > div:first-child .thumbnail {
  height: 12em;
}

.main #id-user-management > form a.btn-default,
.main #id-user-management #id-um-table button.btn-default{
    background-color: #6C7282;
  border: 1px solid #6C7282;
  border-radius: 0;
  color: white;
}

.main #id-user-management > form a.btn-default {
  margin-left: 5px;
}

.main #id-user-management > form div > p {
  color: white;
  background-color: #14446a;
  /* width: 100%; */
  /* text-align: left; */
  padding: 8px 15px;
  margin-bottom: 0px;
}

.main #id-user-management > form div > select.form-control.um-filter {
  border-radius: 0;
  border: 1px solid #dddddd;
}

.main #id-user-management > .row h3.pull-left {
  margin-top: 0px;
  color: #134369;
  line-height: 1.64;
}

/*** Setting ***/

.main > form.form-horizontal #div_id_username > div.controls > p#hint_id_username {
  margin-bottom: 0px;
}

.ms-selection > ul.ms-list,
.ms-selectable > ul.ms-list {
  border-radius: 0px;
}

.ms-selection > ul.ms-list > li.ms-hover,
.ms-selectable > ul.ms-list > li.ms-hover {
  background-color: #f5620b;
}

.form-group > div#div_id_is_subscribed.checkbox {
  padding-top: 0px;
}

.form-group > div#div_id_is_subscribed.checkbox input.checkboxinput {
  margin-left: 0px;
}

.main > form.form-horizontal > div > div > label {
  color: white;
  background-color: #14446a;
  width: 100%;
  text-align: left;
  padding: 8px 15px;
  margin-bottom: 0px;
}

.main > form.form-horizontal > div > div > div.form-group > div {
  padding-left: 0px;
  padding-right: 0px;
}

.main > form.form-horizontal > div > div > div.form-group > div > div.well {
  background-color: white;
  border-radius: 0;
  border: 0px;
  padding: 10px;
  margin-bottom: 0px;
}

.main > form.form-horizontal > div > div > div.form-group > div > div.well {
  margin: 0px 5px;
}

.main > form.form-horizontal > div > div > div.form-group > div:first-child > div.well {
  margin-left: 0px;
}

.main > form.form-horizontal > div > div > div.form-group > div:last-child > div.well {
  margin-right: 0px;
}

.main > form.form-horizontal div.form-group,
.main > div#id-user-select-list > form > div:last-of-type,
.main > div#id-groups-select-list > form > div:last-of-type,
.main > div#id-issues-select-list > form > div:last-of-type {
  margin-bottom: 20px;
}

a.btn, a.btn:hover, a.btn:focus {
  text-decoration: none !important;
  color: white !important;
}
/*
.btn-default:not(.dropdown-toggle),
.btn-default:not(.dropdown-toggle):hover{
  background-color: #6C7282!important;
  border: 1px solid #6C7282!important;
color: white !important;
}*/

.btn-success,
.btn-success:hover {
  /*border: 0 !important;
  border-radius: 0 !important;*/
  border: 1px solid #f5620b !important;
  background-color: #f5620b !important;
  color: white;
}

.btn-danger.btn-delete,
.btn-danger.btn-delete:hover {
  background-color: #d03333 !important;
  /* border: 0 !important;
   border-radius: 0 !important;*/
  border: 1px solid #d03333 !important;
}



.btn-primary,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-default,
.btn-default:hover{
  /*border: 0 !important;*/
  border-radius: 0 !important;
}

/* hidden select in advance search */
#form2 select.form-control#id_source{
  display: none;
}

@media (min-width: 992px) and (max-width: 1199px) {

  .table-responsive td:not(.date-created), .table-responsive th:not(.date-created) {
    padding-right: 1em;
  }

  .table-responsive th.date-created {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  #bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-nav .row > div > ul {
    /*max-width: 50%;*/
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  [class^='icon-'] {
    padding-right: 5px;
  }

  .table-responsive td:not(.date-created), .table-responsive th:not(.date-created) {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }

  .table-responsive th.date-created {
    padding-left: 2em;
    /*padding-right: 1.4em;*/

  }

  #bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
    padding-left: 6px;
    padding-right: 6px;
  }

  .header-nav{
    min-height: 71px;
  }
  .header-nav .row > div > ul {
    max-width: 48%;
    margin: 15px 0px;
  }

  .header-nav #bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right {
    margin-top: 0.5em;
  }

  .main > form.form-horizontal > div > div > div.form-group > div > div.well {
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .footer {
    bottom: auto;
  }

  #bs-example-navbar-collapse-1 {
    display: none;
  }

  .header-nav button.dropdown-toggle.navbar-toggle > span.icon-bar {
    width: 3em;
    background-color: #f5620b;
    margin-bottom: 5px;
  }

  .header-nav .row > div > ul {
    /*max-width: 80%;*/
   /* margin-top: 10px;*/
  }

  div.navbar-header.open > ul.dropdown-menu.pull-right {
    top: 4em;
  }
}

@media (min-width: 768px) {

  .header-nav button.dropdown-toggle.navbar-toggle {
    display: none;
  }

}

#dashboard-user-items tbody,
#id-issue-comments tbody,
#id-user-profile tbody,
#id-themes-detail + div tbody {
  display: block;
  max-height: 25em;
  overflow: auto;
}

#dashboard-user-items thead,
#dashboard-user-items tbody tr,
#id-issue-comments thead,
#id-issue-comments tbody tr,
#id-user-profile thead,
#id-user-profile tbody tr,
#id-themes-detail + div thead,
#id-themes-detail + div tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

#dashboard-user-items thead,
#id-issue-comments thead,
#id-user-profile thead,
#id-themes-detail + div thead {
  width: calc(100% - 1em) /* scrollbar is average 1em/16px width, remove it from thead width */
}

