.tab-content {background: #fff; color: #373737;}
.tab-content > div {display: none; }

input:checked + label + div { display: none; }

input {display: none;}
label.hovered {display: inline-block; padding: 15px 25px; font-weight: 600; text-align: center; color: #337ab7; /*border-radius: 4px*/}
label.hovered:hover {background-color: #eee; cursor: pointer;}

label.hovered:hover{
background-color: rgba(245, 98, 11, 0.4);
}
/*
input:checked + label.hovered {background: #337ab7; color: #fff;}
*/
input:checked + label.hovered{
background-color: #f5620b;
    color: white;
    border-radius: 0;
}

#tab0:checked ~ .tab-content #form1,
#tab1:checked ~ .tab-content #form2,
#tab2:checked ~ .tab-content #form3,
#tab3:checked ~ .tab-content #form4,
#tab4:checked ~ .tab-content #form5 {
  display: block;
}

@media screen and (max-width: 400px) { label {padding: 15px 10px;} }
