#id-global-search-wrapper {
  /* margin-top: 2em;*/

}

#id-global-search-wrapper .form_block {
  display: inline-flex;
  padding-right: 0px;
  padding-left: 0px;

  position: relative;
}

.suggester-wrapper {
  z-index: 9999;
  position: absolute;
  top: 34px;
  background-color: white;

  border: 1px solid #ddd;
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  width: 100%;
}

.suggester-wrapper_name {
  background-color: #EEEEEE;
  margin-bottom: 0px;
}

.suggester-wrapper_name p {
  /*
background-color: #F1F1F1;
*/
  background-color: #14446a;
  color: white;
  font-weight: bold;
}

.suggester-wrapper_name button {
  float: right;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

#suggester-wrapper_left ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;

}

#suggester-wrapper_left {
  padding-left: 0px;
  padding-right: 0px;

}

#suggester-wrapper_left ul li {
  padding-bottom: 5px;
  padding-top: 5px;

}

.suggester-wrapper button {
  float: right;
  padding-bottom: 0px;
  padding-top: 0px;
}

#suggester-wrapper_right {
  height: 100%;

  padding-left: 0px;
  padding-right: 0px;

  border-left: 1px solid #ddd;
}

#suggester-wrapper_right ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

#suggester-wrapper_right p, .suggester-wrapper_right li {
  border-left-width: 0px;
  border-bottom-width: 0px;
}

.list-group-item {

  border-left-width: 0px;
  border-right-width: 0px;

  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.list-group-item:last-child {

  border-bottom-width: 0px;
}

#suggester-wrapper_left .suggester-wrapper_name:first-child p,
#suggester-wrapper_right .suggester-wrapper_name:first-child p {
  border-top-width: 0px;
  border-bottom-width: 0px;

}

#lorem {
  height: 700px;
  background-color: #00AA88;
  margin-left: -1em;
  margin-right: -1em;
}

#active-item:not(.form_block) {
  background-color: rgba(245, 98, 11, 0.4);
  /* background-color: lightsteelblue;*/
}

.suggester-wrapper {
  overflow: hidden;
}

.suggester-wrapper #suggester-wrapper_left, .suggester-wrapper #suggester-wrapper_right {
  float: left;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

#active-button:focus {

  outline: none;
}

a:focus {
  text-decoration: none;
}

#id-global-search-wrapper .list-group-item:hover {
  background-color: rgba(245, 98, 11, 0.4);
  /*background-color: lightsteelblue;*/
  cursor: pointer;
}

.suggester-wrapper_name a.btn {
  float: right;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.suggester-wrapper a.btn {
  float: right;
  padding-bottom: 0px;
  padding-top: 0px;
}

.suggester-wrapper_name li {

  background-color: #f0f0f0; /*#f2dfd9;*/

}

.suggester-wrapper_name li:nth-of-type(odd) {
  background-color: #F3DEDA; /*#f2dfd9;*/
}

.suggester-wrapper_name ul li {
  color: #608876;
}

.suggester-wrapper_name p a {
  background-color: #337ab7;
  color: white;

}

.suggester-wrapper_name .btn {
  border: none;
  border-radius: 0px;
}

.suggester-wrapper_name ul li .btn {
  background-color: #f5620b;
  color: white;

}

#suggester-wrapper .media-heading,
#suggester-wrapper .media-heading:hover,
#suggester-wrapper .media-heading:focus {
  color: #F76916;
  text-decoration: underline;
}

#suggester-wrapper {
  left: 0px;
  margin-top: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
}

#id-global-search-wrapper .form_block .glyphicon-search {
  position: absolute;
  right: 5%;
  top: 30%;
  color: #f5620b;
}

#id-global-search-wrapper .form_block input:focus + em {
  display: none;
}
