{% if themes or groups or issues %}
    <div class="panel panel-default">
        <ul class="list-group" style="font-size: 0.9em;">
            {% if themes %}
                <li class="list-group-item">
                <strong>Themes:</strong>
                {% for theme in themes %}
                    <a href="{% url 'themes:detail' theme.slug %}">{{ theme.name }}</a>
                {% endfor %}
            {% endif %}

            {% if groups %}
                <li class="list-group-item">
                <strong>Groups:</strong>
                {% for group in groups %}
                    <a href="{% url 'groups:detail' group.slug %}">{{ group.name }}</a>
                {% endfor %}
                </li>
            {% endif %}

            {% if issues %}
                <li class="list-group-item">
                <strong>Issues:</strong>
                {% for issue in issues %}
                    <a href="{% url 'issues:detail' issue.slug %}">{{ issue.name }}</a>
                {% endfor %}
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
