{% load i18n %}
{% load comments %}

<form method="POST" action="{% comment_form_target %}" class="form-horizontal">
  {% csrf_token %}
  <fieldset>
    <div><input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}"/></div>

    <div class="alert alert-danger hidden" data-comment-element="errors">
    </div>

    {% for field in form %}
      {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
    {% endfor %}

    <div style="display:none">{{ form.honeypot }}</div>

    <div class="form-group {% if 'title' in form.errors %}has-error{% endif %}">
      <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
        {{ form.title }}
      </div>
    </div>

    <div class="form-group {% if 'comment' in form.errors %}has-error{% endif %}">
      <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
        {{ form.comment }}
      </div>
    </div>

    <div class="form-group {% if 'name' in form.errors %}has-error{% endif %}">
{#      <label for="id_name" class="control-label col-lg-3 col-md-3">#}
{#        {{ form.name.label }}#}
{#      </label>#}
      <div class="col-lg-7 col-md-7">
        <input class="form-control" id="id_name" name="name"
               placeholder="{{ request.user }}" required="" type="hidden" disabled>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
      {% block submit_form %}
      <input type="submit" name="post" value="send" class="btn btn-success" />
      <input type="submit" name="preview" value="preview" class="btn btn-primary" />
      {% endblock %}
    </div>
  </div>
</form>
