{% load i18n comments comments_xtd %}

{#<div id="comments">#}
{#  {% for comment in comment_list %}#}
{#  <div style="margin-left:{{ comment.level }}00px; border-left:5px solid #ddd">#}
{#    <dt id="c{{ comment.id }}" style="background-color: #ddd">#}
{#      {{ comment.submit_date }}&nbsp;-&nbsp;{% if comment.url %}<a href="{{ comment.url }}" target="_new">{% endif %}{{ comment.name }}{% if comment.url %}</a>{% endif %}{% if comment.allow_thread %}&nbsp;-&nbsp;<a href="{{ comment.get_reply_url }}">{% trans "Reply" %}</a>{% endif %}#}
{#    </dt>#}
{#    <dd>#}
{#      <p>{{ comment.comment|render_markup_comment }}</p>#}
{#    </dd>#}
{#  </div>#}
{#  {% endfor %}#}
{#</div>#}

{#{% for comment in comments %}#}
{#  <div class="media">#}
{#    <div class="media-left">#}
{#      <a href="#">#}
{#        {{ comment.email|xtd_comment_gravatar }}#}
{#      </a>#}
{#    </div>#}
{#    <div class="media-body">#}
{#      <h4 class="media-heading">{{ comment.comment.title }}</h4>#}
{#      <p>#}
{#        {{ comment.comment.submit_date }}&nbsp;-&nbsp;{% if comment.comment.url %}<a href="{{ comment.comment.url }}" target="_new">{% endif %}{{ comment.comment.name }}{% if comment.comment.url %}</a>{% endif %}{% if comment.comment.allow_thread %}&nbsp;-&nbsp;<a href="{{ comment.comment.get_reply_url }}">{% trans "Reply" %}</a>{% endif %}#}
{#      </p>#}
{#      <p>--THREAD-ID: {{ comment.comment.thread_id }} --PARENT: {{ comment.comment.parent_id }} --LEVEL: {{ comment.comment.level }} --ORDER: {{ comment.comment.order }}</p>#}
{#      {{ comment.comment }}#}
{#      {% if not comment.children|length > 0 %}#}
{#        {% include 'comments/list.html' with comments=comment.children %}#}
{#      {% endif %}#}
{#    </div>#}
{#  </div>#}
{#{% endfor %}#}

{% for item in comments %}
  {% if item.comment.level == 0 %}
  <li class="media">{% else %}<div class="media">{% endif %}
    <a name="c{{ item.comment.id }}"></a>
    <div class="media-left">{{ item.comment.user_email|xtd_comment_gravatar }}</div>
    <div class="media-body">
      <div class="comment">
        <h6 class="media-heading text-muted">
          {{ item.comment.submit_date }}&nbsp;-&nbsp;{% if item.comment.url and not item.comment.is_removed %}<a href="{{ item.comment.url }}" target="_new">{% endif %}{{ item.comment.name }}{% if item.comment.url %}</a>{% endif %}&nbsp;&nbsp;
        </h6>
        {% if item.comment.is_removed %}
        <p>{% trans "This comment has been removed." %}</p>
        {% else %}
        <p>
          {{ item.comment.comment }}
          <br/>
          {% if item.comment.allow_thread and not item.comment.is_removed %}
          <a class="small mutedlink" href="{{ item.comment.get_reply_url }}">
            {% trans "Reply" %}
          </a>
          {% endif %}
        </p>
        {% endif %}
      </div>
      {% if not item.comment.is_removed and item.children %}
      <div class="media">
        {% include "comments/list.html" with comments=item.children %}
      </div>
      {% endif %}
    </div>
  {% if item.comment.level == 0 %}
  </li>{% else %}</div>{% endif %}
{% endfor %}
