{% extends "base.html" %}
{% load pipeline static django_bootstrap_breadcrumbs %}{% load i18n %}
{% block title %}Members{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Users" "users:list" %}
{% endblock %}

{% block css %}
    {% stylesheet 'user_management_css' %}
{% endblock %}

{% block content %}

    <div id="id-user-management" class="container">
        <form method="GET" action="">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pull-left">User management</h2>
                    <a href="/users" class="btn btn-default pull-right" style="">Drop filters</a>
                    <button type="submit" class="btn btn-primary pull-right" id="id-apply-filters-btn" style="">Apply
                        Filters
                    </button>

                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <p>Theme</p>
                    <select class="form-control um-filter" name='theme-filter' multiple="multiple">
                        {% if themes|length > 0 %}
                            <option value="all">All</option>
                        {% endif %}
                        {% for theme_item in themes %}
                            <option value="{{ theme_item.id }}"
                                    {% if theme_item.id in selected_filters.themes %}selected="selected"{% endif %}>{{ theme_item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <p>Group</p>
                    <select class="form-control um-filter" name='group-filter' multiple="multiple">
                        {% if groups|length > 0 %}
                            <option value="all" {% if 'all' in selected_filters.groups %}selected="selected"{% endif %}>
                                All
                            </option>
                        {% endif %}
                        {% for group_item in groups %}
                            <option value="{{ group_item.id }}"
                                    {% if group_item.id in selected_filters.groups %}selected="selected"{% endif %}>{{ group_item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <p>Issue</p>
                    <select class="form-control um-filter" name='issue-filter' multiple="multiple">
                        {% if issues|length > 0 %}
                            <option value="all" {% if 'all' in selected_filters.issues %}selected="selected"{% endif %}>
                                All
                            </option>
                        {% endif %}
                        {% for issue_item in issues %}
                            <option value="{{ issue_item.id }}"
                                    {% if issue_item.id in selected_filters.issues %}selected="selected"{% endif %}>{{ issue_item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br/>

        </form>

        <div class="row">
            <div class="col-md-12">
                <h3 class="pull-left">Users list</h3>
                <a href="{% url "users:create" %}" class="btn btn-success pull-right" style="">Create
                    user</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="table-responsive">
                    <table class="table table-striped" id="id-um-table">
                        <thead>
                        <tr>
                            <th data-field="name" data-filter-control="input" data-sortable="true">Username</th>
                            <th data-field="username" data-filter-control="input" data-sortable="true">Name</th>
                            <th data-field="email" data-filter-control="input" data-sortable="true">Email</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in user_list %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <a href="{% url "users:update_user" user.id %}"
                                       class="btn btn-success btn-sm">Edit</a>
                                    <button type="button" class="btn btn-default btn-sm">Deactivate</button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>


    </div>

{% endblock content %}

{% block per_page_js %}
    {% javascript 'user_management_js' %}
{% endblock per_page_js %}
