{% extends "base.html" %}
{% load pipeline static crispy_forms_tags user_groups django_bootstrap_breadcrumbs %}{% load i18n %}

{% block title %}{% if mode == 'create' %}New User{% else %}{{ user.username }}{% endif %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Users" "users:list" %}
    {% breadcrumb user.username "users:detail" user.username %}
    {% breadcrumb "Settings" "users:update_user" %}
{% endblock %}

{% block css %}
    {% stylesheet 'user_edit_css' %}
{% endblock %}

{% block content %}


        <h1 class="pull-left">{% if mode == 'create' %}New User{% else %}{{ user.username }}{% endif %}</h1>
        <a href="{% url 'account_change_password' %}" class="btn btn-success pull-right">Change Password</a>


    <form class="form-horizontal" method="post" action="">
        <script>
            var managed_user_id={% if mode != 'create' %}{{ user.id }}{% else %}false{% endif %};
        </script>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                {{ form|crispy }}
            </div>
        </div>
        {% if request.user.is_ibis_superadmin %}
            <div class="row">
                <div class="col-sm-12">
                    <label for="theme_moderator">Select the items User should be ADMIN of:</label>
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="well">
                                <label for="theme_moderator">Theme</label>
                                <select class="form-control" name="theme_moderator" multiple="multiple">
                                    {% for theme in themes %}
                                        <option value="{{ theme.id }}"
                                                {% if theme.id in moderator_themes %}selected{% endif %}>{{ theme.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <label for="group_moderator">Group</label>
                                <select class="form-control" name="group_moderator" multiple="multiple">
                                    {% for group in groups %}
                                        <option value="{{ group.id }}"
                                                {% if group.id in moderator_groups %}selected{% endif %}>{{ group.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <label for="issue_moderator">Issue</label>
                                <select class="form-control" name="issue_moderator" multiple="multiple">
                                    {% for issue in issues %}
                                        <option value="{{ issue.id }}"
                                                {% if issue.id in moderator_issues %}selected{% endif %}>{{ issue.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if request.user.is_ibis_superadmin or request.user.is_ibis_admin %}
        <div class="row">
            <div class="col-sm-12">
                <label for="theme_moderator">Select the items User should be MEMBER of:</label>
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="well">
                            <label for="group_member">Theme</label>
                            <select class="form-control" name="theme_member" multiple="multiple">
                                {% for theme in themes %}
                                    <option value="{{ theme.id }}"
                                            {% if theme.id in member_themes %}selected{% endif %}>{{ theme.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <label for="group_member">Group</label>
                            <select class="form-control" name="group_member" multiple="multiple">
                                {% for group in groups %}
                                    <option value="{{ group.id }}"
                                            {% if group.id in member_groups %}selected{% endif %}>{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <label for="issue_member">Issue</label>
                            <select class="form-control" name="issue_member" multiple="multiple">
                                {% for issue in issues %}
                                    <option value="{{ issue.id }}"
                                            {% if issue.id in member_issues %}selected{% endif %}>{{ issue.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-12">
                <label for="theme_moderator">Select the items User should receive the DIGEST for:</label>
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="well">
                            <label for="group_follower">Theme</label>
                            <select class="form-control" name="theme_follower" multiple="multiple">
                                {% for theme in themes %}
                                    <option value="{{ theme.id }}"
                                            {% if theme.id in follower_themes %}selected{% endif %}>{{ theme.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <label for="group_follower">Group</label>
                            <select class="form-control" name="group_follower" multiple="multiple">
                                {% for group in groups %}
                                    <option value="{{ group.id }}"
                                            {% if group.id in follower_groups %}selected{% endif %}>{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <label for="issue_follower">Issue</label>
                            <select class="form-control" name="issue_follower" multiple="multiple">
                                {% for issue in issues %}
                                    <option value="{{ issue.id }}"
                                            {% if issue.id in follower_issues %}selected{% endif %}>{{ issue.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="controls">
                <a href="{% url "users:list" %}" type="submit" class="btn btn-default">Cancel</a>
                <button type="submit" name="submit" class="btn btn-success">Save</button>
                <button type="submit" name="save_edit" class="btn btn-primary">Save & Edit</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block per_page_js %}
    {% javascript 'user_edit_js' %}
{% endblock per_page_js %}

