{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Users" "users:list" %}
  {% breadcrumb object.id "users:detail" %}
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update_user' object.id %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

