{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Users" "users:list" %}
  {% breadcrumb user.username "users:detail" user.username %}
{% endblock %}

{% block content %}
<div class="container" id="id-user-profile">

  <div class="row">
    <div class="col-sm-12">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-xs-2">
                  <img class="img-circle" style="width: 100%" src="{% static "images/avatar-blank.jpg" %}" alt="User Avatar">
            </div>
            <div class="col-xs-8">
                <h2>{{ object.first_name }} {{ object.last_name }}</h2>
                <p>{{ object.username }}</p>

                <div class="text-muted">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <span>{{ object.email }}</span>
                </div>
            </div>
            <div class="col-xs-2">
                {% if object == request.user %}
                <a class="btn btn-success pull-right" href="{% url 'users:update_user' object.id %}">Edit Profile</a>
                {% endif %}
            </div>
        </div>
        <div class="row" style="">
            <div class="col-md-4" id="id-your-themes">
                <div class="panel panel-default">
                  <div class="panel-heading clearfix">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWEh5z7jpjAWMp5lPmt30CbIfXoUs1Ks9OOkZSrO_xoZWr7en0" alt="" id="icon-test">
                    <h3 class="panel-title pull-left" style="">Themes</h3>
                    {% if object == request.user %}
                    <a href="{% url "themes:list" %}" class="btn btn-link pull-right">View All</a>
                    {% endif %}
                  </div>
                  <ul class="list-group up-panel-list">
                    {% for theme in user_themes %}
                        <li class="list-group-item"><a href="{% url "themes:detail" theme.slug %}">{{ theme }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
            <div class="col-md-4" id="id-your-groups">
                <div class="panel panel-default">
                  <div class="panel-heading clearfix">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWEh5z7jpjAWMp5lPmt30CbIfXoUs1Ks9OOkZSrO_xoZWr7en0" alt="" id="icon-test">
                    <h3 class="panel-title pull-left" style="">Groups</h3>
                    {% if object == request.user %}
                    <a href="{% url "groups:list" %}" class="btn btn-link pull-right">View All</a>
                    {% endif %}
                  </div>
                  <ul class="list-group up-panel-list">
                    {% for group in user_groups %}
                        <li class="list-group-item"><a href="{% url "groups:detail" group.slug %}">{{ group }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
            <div class="col-md-4" id="id-your-issues">
                <div class="panel panel-default">
                  <div class="panel-heading clearfix">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWEh5z7jpjAWMp5lPmt30CbIfXoUs1Ks9OOkZSrO_xoZWr7en0" alt="" id="icon-test">
                    <h3 class="panel-title pull-left" style="">Issues</h3>
                    {% if object == request.user %}
                    <a href="{% url "issues:list" %}" class="btn btn-link pull-right">View All</a>
                    {% endif %}
                  </div>
                  <ul class="list-group up-panel-list">
                    {% for issue in user_issues %}
                        <li class="list-group-item"><a href="{% url "issues:detail" issue.slug %}">{{ issue }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped up-search-filters-table">
                        <thead>
                            <tr>
                                <th class="">Search Query</th>
                                <th class="date-created">Date</th>
                                <th class="">My Notes</th>
                            </tr>
                        </thead>
                        <tbody style="">
                            {% for search_item in user_searches %}
                            <tr>
                                <td>{{ search_item.name }}</td>
                                <td class="date-created">{{ search_item.created }}</td>
                                <td>{% lorem 10 w random %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}

