{% extends "base.html" %}

{% block title %}Page Not found{% endblock %}

{% block content %}
<h1>Page Not found</h1>

<p>
    Apologies for any inconvenience. What you are looking for doesn't seem to be here. Please send us a message
    via the feedback form to let us know what you were looking for. You can go back to the homepage here:
    <a href="{% url 'dashboard' %}">Dashboard</a>.
</p>
{% endblock content %}
