{% load pipeline staticfiles i18n user_groups django_bootstrap_breadcrumbs flatpages %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}dev_ibis{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% stylesheet 'main_css' %}

    {% block css %}


    {% endblock %}

    <noscript>
        {% stylesheet 'no_script_css' %}
    </noscript>

</head>

<body>
{% if beta_mode %}
    <img style="position: fixed; z-index: 10000; width:60px;" src="/static/images/beta_mode.png" alt="Beta Mode"/>
{% endif %}
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1745678959053954',
            xfbml: true,
            version: 'v2.6'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="" id="root-container">
    <div class="container-fluid header-top">
        <div class="container">
            <div class="row ">
                {% if request.user.is_authenticated %}
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="pull-right">


                            <button class="btn dropdown-toggle" type="button" id="icon-account"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                            </button>
                            <ul class="dropdown-menu pull-left">
                                {% if request.user.is_superuser %}
                                    <li><a class="dropdown-item" href="/admin">{% trans "Admin" %}</a></li>
                                {% endif %}
                                {% if request.user.is_ibis_superadmin or request.user.is_ibis_admin %}
                                    <li><a class="dropdown-item"
                                           href="{% url 'users:list' %}">{% trans "User management" %}</a>
                                    </li>
                                {% endif %}
                                <li><a class="dropdown-item"
                                       href="{% url 'users:profile' %}">{% trans "My Profile" %}</a></li>
                                <li><a class="dropdown-item"
                                       href="{% url 'account_logout' %}">{% trans "Sign out" %}</a></li>
                            </ul>

                            <span id="id-user-name">{{ request.user.username }}</span>
{#                            <span class="img-icon">#}
{#                                <em class="icon-email"></em>#}
{#                                <span>0</span>#}
{#                            </span>#}

                        </div>

                        <div id="search">
                            <form class="form-inline" id="id-global-search-wrapper" method="GET" action="{% url "global_search" %}">
                                <div class="form form_block text-center">
                                    <input type="search" autocomplete="off" class="form-control" placeholder="Search">

                                    <em class="glyphicon glyphicon-search"></em>

                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="container-fluid header-nav">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 ">


                    <div class="navbar-header">
                        <button class="dropdown-toggle navbar-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <ul class="dropdown-menu pull-right">
                            {% if request.user.is_authenticated %}
                                {% if request.user|has_group:'IBIS_Admin' or request.user.is_superuser %}
                                    {#               Themes menu     #}
                                    <li class="nav-item">


                                        <a href="{% url 'themes:list' %}" class="nav-link">Themes</a>


                                    </li>
                                    {#               Groups menu     #}
                                    <li class="nav-item">

                                        <a href="{% url 'groups:list' %}" class="nav-link">Groups</a>

                                    </li>
                                    {#               Issues menu     #}
                                    <li class="nav-item">
                                        <a href="{% url 'issues:list' %}" class="nav-link">Issues</a>

                                    </li>
                                    {#               Searches menu     #}
                                    <li class="nav-item">
                                        <a href="{% url 'searches:list' %}" class="nav-link">Searches</a>

                                    </li>
                                    {#               Advanced Search menu     #}
                                    <li class="nav-item">
                                        <a href="{% url 'searches:filters' %}" class="nav-link">Articles</a>

                                    </li>

                                {% endif %}

                                <li class="nav-item dropdown">

                                    <ul class="dropdown-menu pull-left">
                                        {% if request.user.is_superuser %}
                                            <li>
                                                <a class="dropdown-item" href="/admin">
                                                    {% trans "Admin" %}</a></li>
                                        {% endif %}
                                        {% if request.user.is_ibis_superadmin or request.user.is_ibis_admin %}
                                            <li>
                                                <a class="dropdown-item" href="{% url 'users:list' %}">
                                                    {% trans "User management" %}
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'users:profile' %}">{% trans "My Profile" %}</a></li>
                                        {% if request.user.is_authenticated %}
                                            <li><a class="dropdown-item"
                                                   href="{% url 'searches:filters' %}">{% trans "Filtered Search" %}</a>
                                            </li>
                                        {% endif %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'account_logout' %}">{% trans "Sign out" %}</a></li>
                                    </ul>


                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a id="sign-up-link" class="nav-link"
                                       href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a id="log-in-link" class="nav-link"
                                       href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-right">
                            {% if request.user.is_authenticated %}

                                {#               Themes menu     #}
                                <li class="nav-item">

                                    <a href="{% url 'themes:list' %}" class="nav-link">Themes</a>

                                </li>
                                {#               Groups menu     #}
                                <li class="nav-item">

                                    <a href="{% url 'groups:list' %}" class="nav-link">Groups</a>

                                </li>
                                {#               Issues menu     #}
                                <li class="nav-item">
                                    <a href="{% url 'issues:list' %}" class="nav-link">Issues</a>

                                </li>
                                {#               Searches menu     #}
                                <li class="nav-item">
                                    <a href="{% url 'searches:list' %}" class="nav-link">Searches</a>

                                </li>
                                {#               Advanced Search menu     #}
                                <li class="nav-item">
                                    <a href="{% url 'searches:filters' %}" class="nav-link">Articles</a>

                                </li>


                                <ul class="dropdown-menu pull-left">
                                    {% if request.user.is_superuser %}
                                        <li><a class="dropdown-item" href="/admin">{% trans "Admin" %}</a></li>
                                    {% endif %}
                                    {% if request.user.is_ibis_superadmin %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'users:list' %}">{% trans "User management" %}</a>
                                        </li>
                                    {% endif %}
                                    <li><a class="dropdown-item"
                                           href="{% url 'users:profile' %}">{% trans "My Profile" %}</a></li>
                                    {% if request.user.is_authenticated %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'searches:filters' %}">{% trans "Filtered Search" %}</a>
                                        </li>
                                    {% endif %}
                                    <li><a class="dropdown-item"
                                           href="{% url 'account_logout' %}">{% trans "Sign out" %}</a></li>
                                </ul>
                            {% else %}
                                <li class="nav-item">
                                    <a id="sign-up-link" class="nav-link"
                                       href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a id="log-in-link" class="nav-link"
                                       href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->


                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {% block breadcrumbs %}
                        {% clear_breadcrumbs %}
                        {% breadcrumb "Home" "dashboard" %}
                    {% endblock %}
                    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap3.html" %}
                </div>
            </div>

        </div>
    </div>


    <div class="container main">


        {% if messages %}
            {% for message in messages %}
                <div class="container">
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}
                        {% if message.extra_tags %}
                            {{ message.extra_tags }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <!--
                <div class="form-group" id="id-global-search-wrapper">
                    <input type="text" class="form-control" placeholder="Search">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
        -->
        {% block content %}
            {% if request.user|has_group:'IBIS_Admin' %}
                ADMIN
            {% endif %}
        {% endblock content %}


    </div> <!-- /container -->

    <!-- A feedback form. Appears on all pages -->
    <div id="feedback">
        <div id="feedback-form" style='display:none;' class="col-xs-4 col-md-4 panel panel-default">
            <form method="POST" action="{% url 'feedbacks:create' %}" class="form panel-body" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" name="email" autofocus placeholder="Your e-mail" type="email"/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="body" required placeholder="Please write your feedback here..."
                              rows="5"></textarea>
                </div>
                <button class="btn btn-success pull-right" type="submit">Send</button>
            </form>
        </div>
        <div id="feedback-tab">Feedback</div>
    </div> <!-- END feedback form -->

    <div class="container-fluid footer">
        {% if not beta_mode %}
            <div class="container">
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-12">


                        <div class="col-sm-3 col-md-3 col-lg-3 ">
                            <h3>IBIS</h3>
                            <ul>
                                <li>
                                    <p><em class="icon-map-pin"></em>Gadingrejo 1234 Pasuruan, ID.</p>
                                </li>
                                <li>
                                    <p><em class="icon-telephone"></em> 1-234-567-890</p>
                                </li>
                                <li>
                                    <p><em class="icon-email"></em>info@comname.com</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 footer-nav">
                            <h3>Main Menu</h3>
                            {% get_flatpages as flatpages %}
                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="">About Us</a></li>
                                {% for page in flatpages %}
                                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                                {% endfor %}
                                <li><a href="">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 ">
                            <h3>About IBIS</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do elusmod tempor includidunt
                                ut
                                labore
                                et
                                dolore.

                            </p>
                        </div>

                        <div class="col-sm-3 col-md-3 col-lg-3 ">

                            <p>
                                &copy; 2014 - 2015 CompanyName </br>
                                All rights reserved.
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p>This site is not fully tested and stable. Please feel free to report any issues via the
                            feedback form.</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>


    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
        <!-- Latest JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

        <script src="/static/js/libs/js-webshim/minified/polyfiller.js"></script>

        <!-- Tether - a requirement for Bootstrap tooltips -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

        {% javascript 'main_js' %}
        <script src="/static/js/search_bundled.js"></script>
    {% endblock javascript %}
    {% block per_page_js %}
    {% endblock per_page_js %}
</body>
</html>

