{% extends "base.html" %}
{% load static i18n pipeline ibis_tags %}
{% block title %}Dashboard{% endblock %}

{% block css %}
  <!-- Additional styles goes here -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {% stylesheet 'dashboard_css' %}
{% endblock %}

{% block content %}
    <div class="row class-activity-wrapper" id="">
        <div class="col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-striped" id="activity-table">
                    <thead>
                    <tr>
                        <th >
                            <em class="icon-activity"></em>
                            Activity
                            <span class="glyphicon glyphicon-menu-down"></span>
                            <a href="{% url 'activities_list' %}" class="btn">View All</a>
                        </th>
                        <th class=""><em class="icon-date"></em>Date<span class="glyphicon glyphicon-menu-down"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in user_activities %}
                    <tr>
                        <td>{{ activity }}</td>
                        <td>{{ activity.created|date:"d-M-Y" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if request.user.is_authenticated %}
        <div class="row" id="dashboard-user-items">
            <div class="col-sm-4 col-md-4" id="id-your-groups">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWEh5z7jpjAWMp5lPmt30CbIfXoUs1Ks9OOkZSrO_xoZWr7en0" alt="" id="icon-test">

                        <h3 class="panel-title pull-left" style=""><a href="{% url 'groups:list' %}">Your
                            groups</a></h3>

                        <div class="btn-group pull-right">
                            <a href="{% url 'groups:list' %}" class="btn btn-default btn-sm">View Groups</a>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <ul class="list-group">
                                            {% for group in user_groups %}
                                                <li class="list-group-item">
                                                    <a href="{% url "groups:detail" group.slug %}">
                                                        {{ group.name }}
                                                    </a>

                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 col-md-4" id="id-your-issues">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWEh5z7jpjAWMp5lPmt30CbIfXoUs1Ks9OOkZSrO_xoZWr7en0" alt="" id="icon-test">

                        <h3 class="panel-title pull-left" style=""><a href="{% url 'issues:list' %}">Your
                            issues</a></h3>

                        <div class="btn-group pull-right">
                            <a href="{% url 'issues:list' %}" class="btn btn-default btn-sm">View Issues</a>
                        </div>

                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for issue in user_issues %}
                                <li class="list-group-item">
                                    <a href="{% url "issues:detail" issue.slug %}">
                                        {{ issue.name }}
                                    </a>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4" id="id-your-searches">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWEh5z7jpjAWMp5lPmt30CbIfXoUs1Ks9OOkZSrO_xoZWr7en0" alt="" id="icon-test">

                        <h3 class="panel-title pull-left" style=""><a
                                href="{% url 'searches:list' %}">Your searches</a></h3>

                        <div class="btn-group pull-right">
                            <a href="{% url "searches:create" %}" class="btn btn-default btn-sm">Add Search</a>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <ul class="list-group">
                                    {% for search in user_searches %}
                                        <li class="list-group-item">
                                            <a href="{% url 'searches:detail' search.id %}">
                                                {{ search }}
                                            </a>
{#                                        <a href="{% url 'searches:detail' search.id %}" class="button">#}
{#                                            View#}
{#                                        </a>#}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="class-activity-wrapper" id="">
                <div class="col-sm-12 col-md-12">
                    <h2 class="my-saved-articles">MY SEARCH ARTICLES</h2>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped" id="saved-articles-dashboard">
                            <thead>
                            <tr>
                                <th class=""><em class="icon-notes"></em>Title<span class="glyphicon glyphicon-menu-down"></span></th>
                                <th class=" date-created"><em class="icon-date"></em>Publish Date<span class="glyphicon glyphicon-menu-down"></span></th>
                                <th class=""><em class="icon-location"></em>Location<span class="glyphicon glyphicon-menu-down"></span></th>
                                <th class=""><em class="icon-date"></em>Date Discovered<span class="glyphicon glyphicon-menu-down"></span></th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for article in user_articles %}
                                <tr>
                                    <td>
                                        <a href="{% url 'articles:detail' article.id %}">
                                            {{ article.translated_title }}
                                        </a>
                                    </td>
                                    <td class="date-created">
                                        {% if article.post_date_created %}
                                            {{ article.post_date_created|slice:":10"|date_format:"d-M-Y" }}
                                        {% else %}
                                            {{ article.created|date_format:"d-M-Y" }}
                                        {% endif %}
                                    </td>
                                    <td>{% lorem 2 w random %}</td>
                                    <td>{{ article.created|date_format:"d-M-Y" }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}

{% block per_page_js %}
    <!-- Additional js goes here -->
    {% javascript 'dashboard_js' %}
{% endblock %}
