{% extends "base.html" %}

{% block title %}Page Not found{% endblock %}

{% block content %}
<h1>Maintenance Mode</h1>

<p>
    We are sorry. Site under maintenance now. Please try to visit us later.
</p>
{% endblock content %}
