{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs %}{% load i18n %}
{% load comments %}
{% block title %}Issues{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Issues" "issues:list" %}
{% endblock %}

{% block content %}

<div class="container" id="id-issues-list">

    <!--<h2>Issues</h2>-->
<div class="row">
            <div class="col-sm-12">
                <a href="{% url 'issues:create' %}" class="btn btn-success"><em id="id-figure-plus"></em><span>Create Issue</span></a>
            </div>
        </div>
    <div class="row" >
        {% for issue in issue_list %}
        {% get_comment_count for issue as comment_count %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h4><a href="{% url 'issues:detail' issue.slug %}">{{ issue.name }}</a></h4>
                {% if comment_count %}
                  <div class="pull-right">
                    <span style="font-size:0.8em">- {{ comment_count }} comment{{ comment_count|pluralize }}</span>
                  </div>
                {% endif %}
                <p><small class="text-muted">Last updated at: {{ issue.modified }}</small></p>
                <a class="btn btn-success" href="{% url 'issues:update' issue.slug %}">Edit</a>
                {% if issue.access == 'public' %}
                        {% if issue.id in follower_list %}
                            <form style="display: inline" action="{% url 'issues:issue_unfollow' issue.slug %}" method="POST">
                                {% csrf_token %}
                                <button class="btn" type="submit">Unfollow</button>
                            </form>
                        {% else %}
                            <form style="display: inline" action="{% url 'issues:issue_follow' issue.slug %}" method="POST">
                                {% csrf_token %}
                                <button class="btn" type="submit">Follow</button>
                            </form>
                        {% endif %}
                    {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}

    </div>

</div>

{% endblock content %}
