{% extends "base.html" %}
{% load crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block title %}{% if issue %}Edit issue: {{ issue.name }}{% else %}Create new issue{% endif %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Issues" "issues:list" %}
  {% breadcrumb "Add New Issue" "issues:create" %}
{% endblock %}

{% block content %}
    <!--<h1>{% if issue %}Edit issue: {{ issue.name }}{% else %}New issue{% endif %}</h1>-->
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}

        {#{% crispy form %}#}
    {{ form|crispy }}

        {% if groups %}
        <div class="form-group">
            <label for="theme_moderator">Groups</label>
            <select class="form-control" name="group" multiple="multiple">
                {{ selected_groups }}
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if group.id in selected_groups %}selected{% endif %}>{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Save</button>
          </div>
        </div>
    </form>
{% endblock %}
