{% extends "base.html" %}
{% load static pipeline django_bootstrap_breadcrumbs issue_tags %}
{% load comments comments_xtd %}

{% block title %}Issue: {{ object.name }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Issues" "issues:list" %}
  {% breadcrumb object.name "issues:detail" %}
{% endblock %}

{% block content %}
    <div class="row" id="id-issue-detail">
        <div class="col-sm-10">
            <h1>{{ object.name }}</h1>
        </div>
        <div class="col-sm-2">
            {% if has_edit_rights %}
                {{ object.access }}
                <form method="POST" action="{% url 'issues:update_access' object.slug %}">
                    {% csrf_token %}
                    <input type="hidden" name="access" value="{% if object.access == 'public' %}private{% else %}public{% endif %}" />
                    <button type="submit" class="btn btn-success">Make {% if object.access == 'public' %}private{% else %}public{% endif %}</button>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="row" id="id-issue-comments">
        <div class="col-sm-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" >Discussions</h3>
                    <div class="btn-group pull-right">

                    </div>
                </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-sm-12 col-md-12">
                          <div class="list-group">
                              <div id="comments">
                                  {% get_xtdcomment_tree for object as comment_list %}
                                  {% get_comment_count for object as comment_count %}
                                  {% if comment_count %}
                                  <H4 class="center">{{ comment_count }} comment{{ comment_count|pluralize }}</H4>
                                  {% endif %}
                                  <div id="comment-list">
                                    {% with comments=comment_list template_name='comments/list.html' %}
                                    {% include template_name %}
                                    {% endwith %}
                                  </div>

                                  {% if object.allow_comments %}
                                  <H4 class="center">your comment</H4>
                                  <div id="comment-form">
                                    {% render_comment_form for object %}
                                  </div>
                                  {% else %}
                                  <h4 class="center">comments are disabled for this article</h4>
                                  {% endif %}
                                </div>

                        </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" >Searches in {{ object.name }}</h3>
                    <div class="pull-right">
                        <a href="{% url 'issues:add_issue_search' object.slug %}"
                           class="btn btn-success btn-sm">Add Search</a>
                        <a href="{% url 'issues:add_existing_search' object.slug %}"
                           class="btn btn-success btn-sm">Add Existing Search</a>
                    </div>
                </div>
              <div class="panel-body">
                  <div class="row">
                      <!--<div class="col-md-12">
                          <div class="list-group">-->
                              {% for search in object.searches.all %}
                              {% include 'searches/blocks/search_line.html' %}
                              {% endfor %}
                        <!--</div>
                      </div>-->
                  </div>
              </div>
            </div>

        </div>
        <div class="col-sm-4 col-md-4">
            {% issue_info object %}
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <div class="pull-left panel-title">Map</div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div id="map_canvas"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" >Tools</h3>
                </div>
              <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <img src="{% static "images/img_coming_soon.jpg" %}" style="width:100%" />
{#                        <button type="button" class="btn btn-primary btn-block">RUN A FORECAST</button>#}
{#                        <button type="button" class="btn btn-primary btn-block">MAP AN ARGUMENT</button>#}
{#                        <button type="button" class="btn btn-primary btn-block">RUN A VOTE</button>#}
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="table-responsive">
                <div class="col-md-6">
                    {% include 'searches/blocks/pagination.html' with form_target='articles-table' %}
                    <form action="" method="GET" id="articles-table"></form>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="">Title</th>
                            <th class=" date-created">Date</th>
                            <th class="">Article Status</th>
                            <th class="">Search Name</th>
                            <th class="">Channel</th>
                            <th class="">SearchID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in page_obj %}
                        <tr>
                            <td><a href="{% url 'articles:detail' article.id %}">{{ article.translated_title }}</a></td>
                            <td class="date-created">{{ article.created }}</td>
                            <td>{{ article.status }}</td>
                            <td>{{ article.search_query.name }}</td>
                            <td>{{ article.channel }}</td>
                            <td><a href="{% url "searches:detail" article.search_query.pk %}">{{ article.search_query.pk }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block per_page_js %}
  <!-- Load Google maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhXzmHAl2SBA8UZzfJlABO79-ZairSPu0"></script>
  <script>
    var map_items = {% autoescape off %}{{ map_items_json }}{% endautoescape %}
  </script>
  {% javascript 'issue_detail_js' %}
{% endblock %}
