{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Issues{% endblock %}

{% block content %}

<div class="container" id="id-issues-select-list">

    <h2>Select Issues</h2>

    <form method="POST">{% csrf_token %}
        <input type="hidden" name="group_id" value="{{ group_id }}">
        <div class="form-group">
            <div class="list-group">
                {% for issue in issues_list %}
                  <div class="list-group-item">
                      <input name="_selected_issues" value="{{ issue.id }}" type="checkbox">
                      <span class="list-group-item-heading">{{ issue.name }}</span>
                  </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>

</div>

{% endblock content %}
