{% extends "base.html" %}
{% load static pipeline %}
{% load django_bootstrap_breadcrumbs %}

{% block css %}
  {% stylesheet 'article_detail_css' %}
{% endblock %}

{% block title %}Article: {{ object.translated_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Searches" "searches:list" %}
    {% breadcrumb article.search_query.name "searches:detail" article.search_query_id %}
    {% breadcrumb article.title "artticles:detail" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-10">
            <!--<h1>{{ object.translated_title }}</h1>-->
            <h3>Origin Title: {{ object.title }}</h3>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-success pull-right" href="{% url 'articles:update' article.pk %}">Edit</a>
        </div>
    </div>
    <div class="row" id="id-article-detail">
        <div class="col-sm-8 col-md-8">
            <div class="well">
                <h4>Article Text</h4>
                <div class="article-body" id="article-translated-body">
                    {{ article.translated_body|safe }}
                </div>
            </div>
            <div class="well">
                <h4>Article Origin Text</h4>
                <div class="article-body" id="article-origin-body">
                    {{ article.body|safe }}
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            {% if article.top_image_path %}
            <div class="well">
                <img class="article-image" src="{{ article.top_image_path }}" alt="Article Image">
            </div>
            {% endif %}
            <div class="well" style="overflow-wrap: break-word;">
                <strong>URL:</strong>
                <a href="{{ article.article_url }}" target="_blank">{{ article.article_url }}</a>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" >Article Specifics</h3>
                </div>
                <ul class="list-group" style="font-size: 0.9em;">
                    <li class="list-group-item">
                        <strong>Found by:</strong> {{ article.search_query.source }}
                    </li>
                    <li class="list-group-item">
                        <strong>Date discovered:</strong> {{ article.created }}
                    </li>
                    <li class="list-group-item">
                        <strong>Search ID:</strong> <a href="{% url 'searches:detail' article.search_query.id %}">
                        {{ article.search_query.id }}</a>
                    </li>
                    <li class="list-group-item">
                        <strong>Query:</strong> {{ article.search_query.main_query }}
                    </li>
                    <li class="list-group-item">
                        <strong>Search Created by:</strong>
                        <a href="{% url 'users:detail' article.search_query.author.username  %}">
                        {{ article.search_query.author.username }}</a>
                    </li>
                    <li class="list-group-item">
                        <strong>Status:</strong>
                        <form action="" method="POST" id="status-change">{% csrf_token %}
                            {{ form.status }}
                        </form>
                    </li>
                    <li class="list-group-item">
                        <strong>Channel:</strong> {{ article.get_channel_display }}
                    </li>
                 </ul>
            </div>
            {% if article.tags.count > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" >Tags</h3>
                </div>
                <div class="panel-body">
                    {% for tag in article.tags.all %}
                        <span class="label label-success">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" >Locations</h3>
                </div>
                <div class="panel-body">
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block per_page_js %}
  <!-- Load Google maps API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhXzmHAl2SBA8UZzfJlABO79-ZairSPu0"></script>
  <script>
    var map_items = {% autoescape off %}{{ map_items_json }}{% endautoescape %}
  </script>
  {% javascript 'article_detail_js' %}
{% endblock %}
