{% extends "base.html" %}
{% load static pipeline %}
{% load django_bootstrap_breadcrumbs %}

{% block css %}
  <!-- Additional styles goes here -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  {% stylesheet 'article_edit_css' %}
{% endblock %}

{% block title %}Article: {{ object.translated_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Searches" "searches:list" %}
    {% breadcrumb article.search_query.name "searches:detail" article.search_query_id %}
    {% breadcrumb article.title "articles:detail" article.id %}
    {% breadcrumb "Update" "articles:update" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <!--<h1>{{ object.translated_title }}</h1>-->
            <div>
                <h3>Origin Title: {{ object.title }}</h3>
            </div>
        </div>
    </div>
    <form method="POST" action="">{% csrf_token %}
    <div class="row" id="id-article-update">
        <div class="col-sm-8 col-md-8">
            <div class="well">
            <h4>Article Text</h4>
            <div class="article-body" id="article-translated-body">
                {{ form.translated_body }}
            </div>
                </div>
            <div class="well">
            <h4>Article Origin Text</h4>
            <div class="article-body" id="article-origin-body">
                {{ form.body }}
            </div>
                </div>
            <div class="row">
              <div class="col-xs-12">
                <button type="submit" class="btn btn-success">Update</button>
              </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            {% if article.top_image_path %}
            <div class="well">
                <img class="article-image" src="{{ article.top_image_path }}" alt="Article Image">
            </div>
            {% endif %}
            <div class="well" style="overflow-wrap: break-word;">
                <strong>URL:</strong>
                <a href="{{ article.article_url }}" target="_blank">{{ article.article_url }}</a>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" >Article Specifics</h3>
                </div>
                <ul class="list-group" style="font-size: 0.9em;">
                    <li class="list-group-item">
                        <strong>Found by:</strong> {{ article.search_query.source }}
                    </li>
                    <li class="list-group-item">
                        <strong>Search ID:</strong> {{ article.search_query.id }}
                    </li>
                    <li class="list-group-item">
                        <strong>Query:</strong> {{ article.search_query.main_query }}
                    </li>
                    <li class="list-group-item">
                        <strong>Search Created by:</strong> {{ article.search_query.author.username }}
                    </li>
                    <li class="list-group-item">
                        <strong>Status:</strong> <div class="form-group">{{ form.status }}</div>
                    </li>
                    <li class="list-group-item">
                        <strong>Channel:</strong> <div class="form-group">{{ form.channel }}</div>
                    </li>
                 </ul>
            </div>
            <div class="panel panel-default" id="tags">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" >Tags</h3>
                </div>
                <div class="panel-body">
                    {{ form.errors.tags }}
                    {{ form.tags }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" >Locations</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Location</th>
                        <th>Coordinates</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="locations">

                    </tbody>
                    <tfoot>
                    <tr>
                        <td>
                            <form method="POST">

                                <button class="btn btn-default" type="button" id="addLocation"
                                        data-toggle="modal" data-target="#addLocationModal">Add</button>
                            </form>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="addLocationModal" tabindex="-1" role="dialog" aria-labelledby="addLocationModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Location</h4>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        <label for="id-place">Enter place</label>
                        <input class="form-control" type="text" name="place" id="id-place">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="locations-row-template">
        {% verbatim %}
            {% for location in locations %}
            <tr>
                <td>Oklahoma</td>
                <td>{{ location.lat }}, {{ location.lng }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="">
                      <button type="button" class="btn btn-default">
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-default">
                          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                      </button>
                    </div>
                </td>
            </tr>
            {% else %}
                <tr><td colspan="3"><em>no locations yet</em></td></tr>
            {% endfor %}
        {% endverbatim %}
    </script>
{% endblock content %}

{% block per_page_js %}
  <!-- Additional js goes here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script>
        var map_items = {% autoescape off %}{{ map_items_json }}{% endautoescape %}
    </script>
  {% javascript 'article_edit_js' %}
{% endblock %}

