{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs pipeline %}

{% block title %}Search: {{ object.main_query }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Search" "search" %}
{% endblock %}

{% block content %}
    <div class="row">
        <form role="search" id="search-list-filter"></form>
        <div class="col-sm-3 col-md-3" id="filter-block">
            <div class="thumbnail">
                <div class="caption">
                    <div class="dropdown">
                        <button class="btn btn-default btn-block" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Saved Searches
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            {% for search in suggested_searches %}
                            <li>
                                <a href="{{ search.initials }}">{{ search.name }}</a>
                            </li>
                            {% empty %}
                            <li style="color: #999;">No searches yet</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="thumbnail">
                <div class="caption">
                    <h4>Filters</h4>
                    <hr>
                    {{ form.article_status.label }}
                    <ul class="list-unstyled">
                        {% for checkbox in form.article_status %}
                            <li>
                                {{ checkbox }}
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    {{ form.theme.label }}
                    <ul class="list-unstyled">
                        {% for checkbox in form.theme %}
                            <li>
                                {{ checkbox }}
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    {{ form.channel.label }}
                    <ul class="list-unstyled">
                        {% for checkbox in form.channel %}
                            <li>
                                {{ checkbox }}
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    {{ form.last_days.label }}
                    {{ form.last_days }}
                    <hr>
                    {{ form.date_start.label }}
                    {{ form.date_start }}
                    {{ form.date_stop.label }}
                    {{ form.date_stop }}
                    <hr>
                    <button type="submit" class="btn btn-default btn-block" form="search-list-filter">Refine</button>
                    {% if request.GET.q %}
                    <hr>
                    {% include 'searches/blocks/save_search_form.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9" id="result-block">
            <div class="row">
                <!--<div class="form-group">-->
                    <div class="col-sm-12 col-lg-12">
                        <div class="input-group">
                            {{ form.q }}
                            <div class="input-group-btn">
                                <button type="submit" name="page"
                                        form="search-list-filter" value="1" class="btn btn-default pull-right">
                                    Submit
                                </button>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </div>
                <!--</div>-->
            </div>
            <div class="row">
                <!--<div class="col-xs-12">
                    <div class="row">-->
                        <div class="col-sm-12 col-md-12 results">
                            <div class="row">
                                <div class="col-sm-12">
                                    {% include 'searches/blocks/pagination.html' with form_target='search-list-filter' %}
                                </div>
                            </div>
                            {% include 'searches/search_results.html' %}
                        </div>
                    <!--</div>
                </div>-->
            </div>
        </div>
    </div>
{% endblock content %}

{% block per_page_js %}
  <!-- Additional js goes here -->
  {% javascript 'filtered_search_js' %}
{% endblock %}
