{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Searches{% endblock %}

{% block content %}

<div class="container" id="id-searches-select-list">

    <h2>Select Searches</h2>

    <form method="POST">{% csrf_token %}
        <input type="hidden" name="issue_id" value="{{ issue_id }}">
        <div class="form-group">
            <div class="list-group">
                {% for search in searches_list %}
                  <div class="list-group-item">
                      <input name="_selected_searches" value="{{ search.id }}" type="checkbox">
                      <span class="list-group-item-heading">{{ search.name }}</span>
                  </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>

</div>

{% endblock content %}
