<!-- <ul id="search-results"> -->
<div class="row">
    {% if articles %}
        <div class="col-sm-12">
            <form method="POST" id="issue-create-from-articles">
                {% csrf_token %}
            <!-- <div class="col-md-12"> -->
            {% if articles %}
            <input type="hidden" name="access" value="public">
            <ul id="search-results">
                {% for article in articles %}
                    <li>
                        <div class="result-title">
                            {% if not without_chekboxes %}
                            <input type="checkbox" name="articles" value="{{ article.id }}">
                            {% endif %}
                            <a href="{% url "articles:detail" article.id %}">{% if article.translated_title %}
                              {{ article.translated_title }}{% else %}{{ article.title }}{% endif %}</a>

                        </div>
                        <div class="result-url">
                            {{ article.article_url }}
                        </div>
                        <div class="result-text">
                            {% if article.top_image_path %}
                                <img src="{{ article.top_image_path }}"/>
                                <div>
                                    <div>{{ article.translated_body|truncatewords:100|safe}}</div>
                                </div>
                            {% else %}
                                {{ article.translated_body|truncatewords:100|safe }}
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
                {% if not without_chekboxes %}
                <div style="padding-bottom: 10px;" class="row">
                    <div class="col-md-6">
                        <!-- SUBMITTING GROUP FOR CREATING ISSUE -->
                        <div class="input-group">
                            <input type="text" name="name" placeholder="Issue name" class="form-control"
                                   form="issue-create-from-articles">
                            <div class="input-group-btn">
                                <button type="submit" name="update"
                                        formaction="{% url 'issues:create-from-articles' %}"
                                        value="{{ True }}" class="btn btn-default btn-block">Create Issue
                                </button>
                            </div>
                            <!-- /btn-group -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- SUBMITTING GROUP FOR UPDATING ISSUE -->
                        <div class="input-group">
                            <select type="" name="pk" class="form-control">
                                <option>Choose an Issue</option>
                                {% for issue in user_issues %}
                                    <option value="{{ issue.pk }}">{{ issue.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-btn">
                                <button type="submit" name="update"
                                        formaction="{% url 'issues:add-articles' %}"
                                        value="{{ True }}" class="btn btn-default btn-block">Update Issue
                                </button>
                            </div>
                            <!-- /btn-group -->
                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
                {% endif %}
            </ul>
            </form>
            {% endif %}
            <!-- </div> -->
        </div>
    {% endif %}
    <!-- </ul> -->
</div>
