{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs search_tags %}

{% block title %}Search: {{ object.main_query }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Searches" "searches:list" %}
  {% breadcrumb object.name "searches:detail" %}
{% endblock %}

{% block content %}
    <div class="row" id="id-search-detail">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h1>{{ object.main_query }}</h1>
                    {% if can_edit %}
                        <a href="{% url 'searches:update' object.id %}" class="btn btn-success">Edit</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <dl class="dl-horizontal">
                      <dt>Source</dt>
                      <dd>{% if object.type == 'rss' %} RSS {% else %} {{ object.source }} {% endif %}</dd>
                      <dt>Period</dt>
                      <dd>{{ object.get_period_display }}</dd>
                    </dl>
                </div>
                <div class="col-sm-4 col-md-4">
                    {% search_info object %}
                </div>
            </div>

        </div>
    </div>
    {% if articles|length > 0 %}

    <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
                <a href="?page={{ articles.previous_page_number }}">Prev</a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>

            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <ul id="search-results">
                {% for article in articles %}
                <li>
                    <div class="result-title">
                        <a href="{% url "articles:detail" article.id %}">{% if article.translated_title %}
                              {{ article.translated_title }}{% else %}{{ article.title }}{% endif %}</a>
                    </div>
                    <div class="result-url">
                        <span>
                            {{ article.article_url }}
                        </span>
                    </div>
                    <div class="result-text">
                        {% if article.top_image_path %}
                            <img src="{{ article.top_image_path }}" />
                            <div>
                                <div>{{ article.translated_body | truncatewords:100 }}</div>
                            </div>
                        {% else %}
                            {{ article.translated_body | truncatewords:100 }}
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock content %}

