{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs %}{% load i18n %}
{% block title %}Searches{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Searches" "searches:list" %}
{% endblock %}

{% block content %}

<div class="container" id="id-search-list">

   <!-- <h2>Searches</h2>-->
<div class="row">
            <div class="col-sm-12">
                <a href="{% url 'searches:create' %}" class="btn btn-success"><em id="id-figure-plus"></em><span>Add Search</span></a>
            </div>
        </div>
    <div class="row" id="id-searches-list">
        {% for search in search_list %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4>
                        <a href="{% url 'searches:detail' search.id %}">{{ search.name|default:search.main_query|truncatechars:40 }}</a>
                        <br/>
                        <small>{{ search.get_type_display }}</small>
                    </h4>

                    <p><small class="text-muted">Last updated at: {{ search.modified }}</small></p>
                    {% if search.active %}
                      <span >
                        <form style="display: inline-block" action="{% url "searches:activestate" search.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="active" value="0">
                            <button class="btn btn-danger" type="submit">Deactivate</button>
                        </form>
                      </span>
                    {% else %}
                      <span >
                        <form style="display: inline-block" action="{% url "searches:activestate" search.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="active" value="1">
                            <button class="btn btn-primary" type="submit">Activate</button>
                        </form>
                      </span>
                    {% endif %}
                    <a class="btn btn-success" href="{% url 'searches:update' search.id %}" >Edit</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
