{% extends "base.html" %}
{% load pipeline staticfiles i18n django_bootstrap_breadcrumbs %}

{% block css %}
    {% stylesheet 'searches_css' %}
{% endblock %}

{% block title %}{% if theme %}Edit search: {{ search.main_query }}{% else %}Create new search{% endif %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Searches" "searches:list" %}
    {% if not edit_mode %}
        {% breadcrumb "Add New Search" "searches:create" %}
    {% else %}
        {% breadcrumb search.name "searches:detail" search.id %}
        {% breadcrumb "Edit" "searches:update" %}
    {% endif %}
{% endblock %}

{% block content %}
    <!--<h1>{% if search %}Edit search: {{ search.main_query }}{% else %}New search{% endif %}</h1>-->
    <div class="content">

        <div class="form-group">
            <!-- Define radio's to toggle the tabs -->
            {% for radio in form.type %}
                <input id="tab{{ forloop.counter0 }}" type="radio" name="type"
                       {% if radio.is_checked %}checked{% endif %}
                       {% if edit_mode %}disabled{% endif %}>
                <label class="hovered {% if not radio.is_checked and edit_mode %}hidden{% endif %}"
                       for="tab{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
            {% endfor %}
            <!-- END radio's -->

            <!-- Main TABS wrapper -->
            <div class="tab-content">
                <!-- FORM1 wrapper -->
                <div id="form1">
                    <form class="form-horizontal" method="post" action="">
                        {% csrf_token %}
                        {% if issues %}
                            <div class="form-group">
                                <label for="theme_moderator">Issue</label>
                                <select class="form-control" name="issue" multiple="multiple">
                                    {% for issue in issues %}
                                        <option value="{{ issue.id }}"
                                                {% if issue.id in selected_issues %}selected{% endif %}>
                                            {{ issue.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}

                        <h4>Search (google)</h4>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-danger">{{ form.main_query.errors }}</div>
                                <div class="text-danger">{{ form.name.errors }}</div>
                                {{ form.main_query }}
                            </div>
                            <div class="col-sm-4">
                                {% if not edit_mode %}
                                    <input type="hidden" name="type" value="simple_search">
                                    <input type="hidden" name="source" value="google_cse">
                                    <input type="hidden" name="channel" value="search_engines">
                                    {% if searches %}
                                        <button type="submit" class="btn btn-success" name="type" value="simple_search"
                                        onclick="this.disabled=true; this.form.submit();">
                                            Save
                                        </button>
                                    {% endif %}
                                    <button type="submit" class="btn btn-success" name="test_search" value="{{ True }}">
                                        Search
                                    </button>
                                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default">Cancel</a>
                                    <button type="submit" class="btn btn-danger btn-delete" name="type" value="">
                                        Delete
                                    </button>
                                {% else %}
                                    <input type="hidden" name="source" value="google_cse">
                                    <input type="hidden" name="type" value="simple_search">

                                    <button type="submit" class="btn btn-success"
                                    onclick="this.disabled=true; this.form.submit();">Save
                                    </button>
                                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default">Cancel</a>
                                    <button type="submit" class="btn btn-danger btn-delete" name="type" value="">
                                        Delete
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        {% include 'searches/blocks/test_search_results.html' %}
                    </form>
                </div>


                <!-- FORM2 wrapper -->
                <div id="form2">
                    <form class="form-horizontal" method="post" action="">
                        {% csrf_token %}

                        {% if issues %}
                            <div class="form-group">
                                <label for="theme_moderator">Issue</label>
                                <select class="form-control" name="issue" multiple="multiple">
                                    {% for issue in issues %}
                                        <option value="{{ issue.id }}"
                                            {% if issue.id in selected_issues %}selected{% endif %}>
                                            {{ issue.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <h4>Search at search engines</h4>
                        <div class="form-wrapper">
                            <div class="form-group">
                                <div class="text-danger">{{ form.name.errors }}</div>
                                <label for="inputType" class="col-sm-2">Name</label>
                                <div class="controls ">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-danger">{{ form.main_query.errors }}</div>
                                <label for="inputType" class="col-sm-2">{{ form.main_query.label }}</label>
                                <div class="controls ">
                                    {{ form.main_query }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputType" class="col-sm-2">{{ form.all_words.label }}</label>
                                <div class="controls ">
                                    <div class="text-danger">{{ form.all_words.errors }}</div>
                                    {{ form.all_words }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-danger">{{ form.exact_phrase.errors }}</div>
                                <label for="inputType" class="col-sm-2">{{ form.exact_phrase.label }}</label>
                                <div class="controls ">
                                    {{ form.exact_phrase }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="text-danger">{{ form.omit_words.errors }}</div>
                                <label for="inputType" class="col-sm-2">{{ form.omit_words.label }}</label>
                                <div class="controls ">
                                    {{ form.omit_words }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="text-danger">{{ form.period.errors }}</div>
                                    <label for="inputType">{{ form.period.label }}</label>
                                    {{ form.period }}
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-danger">{{ form.source.errors }}</div>
                                    <label for="source-select">{{ form.source.label }}</label>
                                    <select id="source-select" multiple="multiple" name="source">
                                        <option value="google_cse" {% if 'google_cse' in form.initial.source %}
                                                selected{% endif %}>Google CSE</option>
                                        <option value="google" {% if 'google' in form.initial.source %}
                                                selected{% endif %}>Google</option>
                                        <option value="google_blogs" {% if 'google_blogs' in form.initial.source %}
                                                selected{% endif %}>Google Blogs</option>
                                        <option value="google_news" {% if 'google_news' in form.initial.source %}
                                                selected{% endif %}>Google News</option>
                                        <option value="google_scholar" {% if 'google_scholar' in form.initial.source %}
                                                selected{% endif %}>Google Scholar</option>
{#                                        <option value="bing" {% if 'bing' in form.initial.source %}#}
{#                                                selected{% endif %}>Bing</option>#}
{#                                        <option value="yandex" {% if 'yandex' in form.initial.source %}#}
{#                                                selected{% endif %}>Yandex</option>#}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-danger">{{ form.channel.errors }}</div>
                        <!-- Form ACTIONS -->
                        <div class="form-group">
                            {% if not edit_mode %}
                                <input type="hidden" name="channel" value="search_engines">
                                <input type="hidden" name="type" value="search_engine">
                                <button type="submit" class="btn btn-success"
                                onclick="this.disabled=true; this.form.submit();">Save
                                </button>
                                <button type="submit" class="btn btn-success" name="test_search" value="{{ True }}">
                                            Search
                                </button>
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default">Cancel</a>
                            {% else %}
                                <input type="hidden" name="type" value="search_engine">
                                <input type="hidden" name="channel" value="search_engines">
                                <button type="submit" class="btn btn-success"
                                onclick="this.disabled=true; this.form.submit();">Save
                                </button>
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default">Cancel</a>
                                <button type="submit" class="btn btn-danger btn-delete" name="type" value="">Delete</button>
                            {% endif %}
                        </div>
                        {% include 'searches/blocks/test_search_results.html' %}
                    </form>
                </div>

                <!-- FORM3 wrapper -->
                <div id="form3">
                    <form class="form-horizontal" method="post" action="">
                        {% csrf_token %}

                        {% if issues %}
                            <div class="form-group">
                                <label for="theme_moderator">Issue</label>
                                <select class="form-control" name="issue" multiple="multiple">
                                    {% for issue in issues %}
                                        <option value="{{ issue.id }}"
                                            {% if issue.id in selected_issues %}selected{% endif %}>
                                            {{ issue.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <h4>Add a RSS feed</h4>
                        <div class="form-wrapper">
                            <div class="form-group">
                                <div class="text-danger">{{ form.name.errors }}</div>
                                <label for="inputType" class="col-sm-2">{{ form.name.label }}</label>
                                <div class="controls ">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-danger">{{ form.rss_link.errors }}</div>
                                <label class="col-sm-2" for="inputType">{{ form.rss_link.label }}</label>
                                <div class="controls ">
                                    {{ form.rss_link }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="text-danger">{{ form.period.errors }}</div>
                                    <label for="inputType">{{ form.period.label }}</label>
                                    {{ form.period }}
                                </div>
                                <div class="col-md-6">
                                    <div class="text-danger">{{ form.channel.errors }}</div>
                                    <label for="inputType">{{ form.channel.label }}</label>
                                    {{ form.channel }}
                                </div>
                            </div>
                            <!-- Form ACTIONS -->
                            <div class="form-group">
                                <input name="type" type="hidden" value="rss">
                                <button type="submit" class="btn btn-success"
                                onclick="this.disabled=true; this.form.submit();">Save</button>
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default">Cancel</a>
                                <button type="submit" class="btn btn-danger btn-delete" name="type" value="">Delete
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- FORM4 wrapper -->
                <div id="form4">
                    <form class="form-horizontal" method="post" action="">
                        {% csrf_token %}

                        {% if issues %}
                            <div class="form-group">
                                <label for="theme_moderator">Issue</label>
                                <select class="form-control" name="issue" multiple="multiple">
                                    {% for issue in issues %}
                                        <option value="{{ issue.id }}"
                                            {% if issue.id in selected_issues %}selected{% endif %}>
                                            {{ issue.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endif %}
                        <h4>Grab article from direct link</h4>
                        <div class="form-wrapper">
                            <div class="form-group">
                                <div class="text-danger">{{ form.name.errors }}</div>
                                <label for="inputType" class="col-sm-2">{{ form.name.label }}</label>
                                <div class="controls">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-danger">{{ form.direct_url.errors }}</div>
                                <label class="col-sm-2" for="inputType">{{ form.direct_url.label }}</label>
                                <div class="controls">
                                    {{ form.direct_url }}
                                </div>
                            </div>
                            <!-- Form ACTIONS -->
                            <div class="form-group">
                                <input type="hidden" name="type" value="article">
                                <input type="hidden" name="channel" value="general">
                                <button type="submit" class="btn btn-success"
                                onclick="this.disabled=true; this.form.submit();">Save</button>
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default">Cancel</a>
                                <button type="submit" class="btn btn-danger btn-delete" name="type" value="">Delete
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- END Main TABS wrapper -->
        </div>
    </div>
    <script type="text/html" id="id-articles-template">
        {% verbatim %}
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <ul id="search-results">
                        {% for article in articles %}
                            <li>
                                <div class="result-title">
                                    <a href="{{ article.link }}" target="_blank">{{ article.htmlTitle }}</a>
                                </div>
                                <div class="result-url">
                                    {{ article.htmlFormattedUrl }}
                                </div>
                                <div class="result-text">
                                    {% if article.pagemap.cse_image[0] %}
                                        <img src="{{ article.pagemap.cse_image[0].src }}"/>
                                        <div>
                                            <div>{{ article.htmlSnippet }}</div>
                                        </div>
                                    {% else %}
                                        {{ article.htmlSnippet }}
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endverbatim %}
    </script>
{% endblock %}

{% block per_page_js %}
    {% javascript 'search_edit_js' %}

{% endblock per_page_js %}
