{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Seacrh results{% endblock %}

{% block content %}
        <div class="row" id="dashboard-user-items">
            <div class="col-sm-4 col-md-4" id="id-your-groups">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWEh5z7jpjAWMp5lPmt30CbIfXoUs1Ks9OOkZSrO_xoZWr7en0" alt="" id="icon-test">
                        <h3 class="panel-title pull-left" style="">Groups</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <ul class="list-group">
                                            {% for group in groups %}
                                                <li class="list-group-item">
                                                    <a href="{% url "groups:detail" group.slug %}">
                                                        {{ group.name }}
                                                    </a>

                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4 col-md-4" id="id-your-issues">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWEh5z7jpjAWMp5lPmt30CbIfXoUs1Ks9OOkZSrO_xoZWr7en0" alt="" id="icon-test">
                        <h3 class="panel-title pull-left" style="">Issues</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for issue in issues %}
                                <li class="list-group-item">
                                    <a href="{% url "issues:detail" issue.slug %}">
                                        {{ issue.name }}
                                    </a>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4" id="id-your-searches">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWEh5z7jpjAWMp5lPmt30CbIfXoUs1Ks9OOkZSrO_xoZWr7en0" alt="" id="icon-test">

                        <h3 class="panel-title pull-left" style="">
                            Searches
                        </h3>

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <ul class="list-group">
                                    {% for search in searches %}
                                        <li class="list-group-item">
                                            <a href="{% url 'searches:detail' search.id %}">
                                                {{ search.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="class-activity-wrapper" id="">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <h2 class="my-saved-articles">ARTICLES</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% include 'searches/blocks/pagination.html' with form_target='id-global-search-wrapper' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 results">
                        {% include 'searches/search_results.html' with without_chekboxes=True %}
                    </div>
                </div>
            </div>

        </div>

{% endblock content %}
