{% extends "base.html" %}
{% load static django_bootstrap_breadcrumbs %}

{% block title %}Theme: {{ object.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Themes" "themes:list" %}
    {% breadcrumb object.name "themes:detail" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ object.name }}</h2>
            <p class="text-muted">{{ object.description }}</p>
        </div>
    </div>
    <div class="row" id="id-themes-detail">
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="">Groups</h3>
                  <div class="pull-right">
                    <a href="{% url 'themes:add_theme_group' theme.slug %}" class="btn btn-success btn-sm">Add New Group</a>
                    <a href="{% url 'themes:add_theme_existing_group' theme.slug %}" class="btn btn-success btn-sm">Add Existing Groups</a>
                  </div>
              </div>
              <div class="panel-body">
                  <div class="row">
                      {% for group in groups %}
                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                              <div class="caption">
                                <h4><a href="{% url 'groups:detail' group.slug %}">{{ group.name }}</a></h4>
                                <p><small class="text-muted">Last updated at: {{ group.modified }}</small></p>
                                <p>
                                    <a href="#" class="btn btn-primary btn-xs btn-block" role="button">Follow</a>
                                </p>
                              </div>
                            </div>
                          </div>
                      {% endfor %}
                  </div>
              </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="">Issues</h3>
              </div>
              <div class="panel-body">
                  <div class="row">
                      {% for issue in issues %}
                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                              <div class="caption">
                                <h4><a href="{% url 'issues:detail' issue.slug %}">{{ issue.name }}</a></h4>
                                <p><small class="text-muted">Last updated at: {{ issue.modified }}</small></p>
                                <p>
                                    <a href="#" class="btn btn-primary btn-xs btn-block" role="button">Follow</a>
                                </p>
                              </div>
                            </div>
                          </div>
                      {% endfor %}
                  </div>
              </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="">Searches</h3>
            </div>
            <div class="panel-body">
                  <div class="row">
                      {% for search in searches %}
                        {% include 'searches/blocks/search_line.html' %}
                      {% endfor %}
                  </div>
              </div>
            </div>

            <!--<div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-4">Title</th>
                            <th class="col-md-1">Date</th>
                            <th class="col-md-1">Search ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                        <tr>
                            <td><a href="{% url "articles:detail" article.id %}">{{ article.translated_title }}</a></td>
                            <td>{{ article.post_date_created|slice:":10" }}</td>
                            <td><a href="{% url "searches:detail" article.search_query_id %}">{{ article.search_search_query_id }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>-->
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Moderators</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                    {% for moderator in object.moderators %}
                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img class="img-circle" src="{% static "images/avatar-blank.jpg" %}" alt="User Avatar">
                          <div class="caption">
                            <p><small class="text-center text-muted">{{ moderator.user }}</small></p>
                            <p>
                                <a href="#" class="btn btn-success btn-xs btn-block" role="button">View</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="">Members</h3>
                  <div class="btn-group pull-right">
                    <a href="{% url 'themes:add_members' object.slug %}" class="btn btn-success btn-sm">Add New Member</a>
                  </div>
              </div>
              <div class="panel-body">
                <div class="row">
                    {% for member in object.followers %}
                      <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                          <img class="img-circle" src="{% static "images/avatar-blank.jpg" %}" alt="User Avatar">
                          <div class="caption">
                            <p><small class="text-center text-muted">{{ member.user }}</small></p>
                            <p>
                                <a href="{% url 'users:detail' member.user.username %}" class="btn btn-primary btn-xs btn-block" role="button">View</a>
                                <div class="form-group">
                                    <form method="POST" action="{% url 'themes:to_moderator' object.slug member.id%}">
                                        {% csrf_token %}
                                        <input type="checkbox" name="is_moderator" checked value="True" style="display: none;">
                                        <button type="submit" class="btn btn-success btn-xs btn-block" role="button">To Moderators</button>
                                    </form>
                                </div>
                                <form method="POST" action="{% url 'themes:remove_theme_member' object.slug member.id%}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-xs btn-block" role="button">Remove</button>
                                </form>
                            </p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-sm-12 col-md-12">
 <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="">Title</th>
                            <th class=" date-created" >Date</th>
                            <th class="">Search ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                        <tr>
                            <td><a href="{% url "articles:detail" article.id %}">{{ article.translated_title }}</a></td>
                            <td class="date-created">
                                {% if article.post_date_created %}
                                    {{ article.post_date_created|slice:":10" }}
                                {% else %}
                                    {{ article.created|date:"Y-m-d" }}
                                {% endif %}
                            </td>
                            <td><a href="{% url "searches:detail" article.search_query_id %}">{{ article.search_search_query_id }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>
</div>
{% endblock content %}

