{% extends "base.html" %}
{% load crispy_forms_tags django_bootstrap_breadcrumbs %}

{% block title %}{% if theme %}Edit theme: {{ theme.name }}{% else %}Create new theme{% endif %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Themes" "themes:list" %}
    {% breadcrumb "Add New Theme" "themes:create" %}
{% endblock %}

{% block content %}
    <!--<h1>{% if theme %}Edit theme: {{ theme.name }}{% else %}New theme{% endif %}</h1>-->
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Save</button>
          </div>
        </div>
    </form>
{% endblock %}
