{% extends "base.html" %}
{% load static user_groups ibis_tags %}{% load i18n %}{% load django_bootstrap_breadcrumbs %}
{% block title %}Themes{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Themes" "themes:list" %}
{% endblock %}

{% block content %}

    <div class="container" id="id-container-themes">
        {% if request.user.is_ibis_superadmin or request.user.is_superuser %}
        <div class="row">
            <div class="col-sm-12">
                <a href="{% url 'themes:create' %}" class="btn btn-success"><em id="id-figure-plus"></em><span>Add Theme</span></a>
            </div>
        </div>
        {% endif %}
        <div class="row">
            {% for theme in theme_list %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" style="min-height: 220px">
                        <div class="caption">
                            <h4><a href="{% url 'themes:detail' theme.slug %}">{{ theme.name }}</a></h4>
                            <a class="btn btn-success pull-right" href="{% url "themes:update" theme.slug %}">Edit</a>
                            <div>
                                <p>
                                    <small class="text-muted">Last updated at: {{ theme.modified |date_format:"jS F Y" }}</small>
                                </p>
                                {% if theme.description %}
                                    <p class="text-muted">
                                        {{ theme.description | truncatewords_html:30 }}
                                    </p>
                                {% endif %}
                            </div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
