<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<table class="body" width="600px" border="0" bgcolor="#F0F0F0" style="padding: 10px;">
    {% for row in digest %}
    <thead>
    <tr>
        <th>
            <h3 style="background-color: #14446a;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    padding: 20px;
    font-size: 1.5em;">{{ row.issue }}</h3>
        </th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>
            <ul style="background-color: #fcfcfc; padding: 0px 10px 0px 10px; margin: 0px;">
                {% for article in row.articles %}
                <li style="list-style-type: none; background-color: #F3DEDA; border: 1px solid #dddddd;
    padding: 10px;
display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;">
                    <div>
                        <a href="{{ current_site }}{{ article.get_absolute_url }}" style="color: #F76916; text-decoration: underline; font-size: 1.5em; margin: 0 0 10px;">{{ article.translated_title }}</a>
                    </div>
                    <div>

                        <img src="{{ article.top_image_path }}"
                             alt=""
                             style="width: 100px; float: left; margin-right: 10px; border: 0;">
                        <div>
                            <p style="color: #134369">
                                {{ article.translated_body|safe|truncatewords:100 }}
                            </p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>
</body>
</html>
