<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  {% for article in articles %}
      <div>
      <a href="{{ article.get_ulr_for_email_template }}"><h4>{{ article.fields.translated_title }}</h4></a><br>
      <p>{{ article.fields.translated_body|truncatewords:100 }}</p>
      </div>
      <hr>
  {% endfor %}
</body>
</html>
