<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Daily Digest</title>
</head>
<body>

<table class="body" width="600px" border="0" bgcolor="#F0F0F0" style="padding: 10px;">
    <thead>
    <tr>
        <th>
            <h4 style="background-color: #14446a;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    padding: 20px;
    font-size: 1.5em;">Hello, dear {{ username }}</h4>
        </th>
    </tr>

    </thead>
    <tbody>

    <tr>
        <td style="background-color: #fcfcfc; padding: 0px 10px 0px 10px; margin: 0px;">
            <div style="list-style-type: none; background-color: #F3DEDA; border: 1px solid #dddddd;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;">
                <p style="color: #134369">A new daily digest available. Please visit this link to review it and
                    confirm:</p>
                <a href="{{ url }}" style="color: #F76916; text-decoration: underline;">Review Daily Digest</a>
            </div>

        </td>
    </tr>

    </tbody>
</table>


</body>
</html>
