{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n comments %}

{% block title %}Reply to: {{ comment.name }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Issues" "issues:list" %}
  {% breadcrumb comment.content_object.name "issues:detail" comment.content_object.slug %}
  {% breadcrumb "Reply to comment" comment.get_reply_url %}
{% endblock %}

{% block content %}
<div style="">
  <H2>{% trans "Reply to" %}:</H2>
  <dl id="parent-comment" style="">
    <dt id="c{{ comment.id }}">
      {{ comment.submit_date }}&nbsp;-&nbsp;{{ comment.name }}
    </dt>
    <dd>
      <p>{{ comment.comment }}</p>
    </dd>
  </dl>
  <div id="comment-form">
    {% include "comments/form.html" %}
  </div>
</div>
{% endblock %}
